.sec-mvabout{
	padding: 106px 0;
	@include mq{
		padding: 46px 0 104px;
	}
	.box-mvabout{
		position: relative;
		display: inline-block;
		width: 100%;
	}
	.list-txtthumb{
		height: 50px;
		transform: rotate(90deg) translateY(-50%);
		position: absolute;
		right: -35px;
		width: 160px;
		top: calc(50% - 34px);
		overflow: hidden;
		@include mq{
			transform: rotate(0);
			top: auto;
			bottom:-38px;
			//right: auto;
			height: auto;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
		.item-txtthumb{
			@include font-size(18);
			font-family: $font-Yugothic;
			text-align: center;
			letter-spacing: 0.2em;
			font-weight: 500;
			overflow: hidden;
			@include mq{
				@include font-size(16);
			}
			
		}
		.slick-prev, .slick-next{
			top: 16px;
			height: 25px;
			width: 25px;
			background: #FAFAFA;
			@include mq{
				top: 12px;
			}
			&:before{
				content: '';
				width: 8px;
				height: 8px;
				display: inline-block;
				@include mq{
					width: 5px;
					height: 5px;
				}
				
			}
		}
		.slick-prev{
			left: -6.5px;
			@include mq{
				left: -5px;
			}
			&:before{
				border-top: 1px solid #4d4d4d;
				border-right: 1px solid #4d4d4d;
				transform: rotate(-45deg);
				@include mq{
					transform: rotate(-135deg);
				}
			}
		}
		.slick-next{
			right: 1px;
			top: 10px;
			@include mq{
				right: -8px;
			}
			&:before{
				border-top: 1px solid #4d4d4d;
				border-left: 1px solid #4d4d4d;
				transform: rotate(-135deg);
				@include mq{
					transform: rotate(135deg);
				}
			}
		}
	}
	.list-imgmain{
		width: calc(100% - 34px) ;
		//width: 100%;
		
		@include mq{
			width: 100%;
			img{
				width: 100%;
			}
		}
	}
	
}
.sec-abouts{
	padding-bottom: 124px;
	@include mq{
		padding-bottom: 150px;
	}
	.list-linkcp{
		margin-bottom: 170px;
		@include mq{
			margin-bottom: 80px;
		}
	}
}
.box-abouts{
	background: url(../img/about/img-ttlbg.png) no-repeat bottom right 11px;
	background-size: 92% auto;
	padding-bottom: 92px;
	margin-bottom: 122px;
	@include mq{
		background-position: bottom right 0px;
		background-size: 100% auto;
		padding-bottom: 28px;
		margin-bottom: 59px;
	}
	.ttl-comp03{
		margin-bottom: 75px;
		@include mq{
			margin-bottom: 57px;
		}
	}
	.ttl-logo{
		margin-bottom: 79px;
		@include mq{
			margin-bottom: 59px;
			img{
				width: 228px;
			}
		}
	}
	.des-txt{
		@include font-size(25);
		font-weight: 500;
		line-height: 1.76;
		letter-spacing: 0.2em;
		text-align: center;
		@include mq{
			@include font-size(18);
			line-height: 2.33;
		}
		@include mq(xs){
			@include font-size(15);
		}
		p{
			margin-bottom: 44px;
			@include mq{
				font-feature-settings: "palt";
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.ttl-logo{
		text-align: center;
	}
}
.box-listabout{
	margin-bottom: 180px;
	@include mq{
		margin-bottom: 98px;
	}
	.box-itemabout{
		margin-bottom: 142px;
		display: inline-block;
		position: relative;
		width: 100%;
		&>*{
			position: relative;
			z-index: 1;
		}
		@include mq{
			margin-bottom: 82px;
		}
		&:after{
			content: '';
			width: 65.39vw;
			height: 400px;
			background: #ffffff;
			position: absolute;
			right: calc((-1)*((100vw - 1000px) / 2));
			top: calc(50% + 54px);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			z-index: 0;
			@include mq(lg){
				right: -18px;
			}
			@include mq(){
				top: -28px;
				transform: translateY(0);
				height: 76vw;
				
			}
			@include mq(sm){
				height: 106.7vw;
			}
		}
		&:last-child{
			margin-bottom: 0;
		}
		&__wrap{
			display: flex;
			align-items: flex-start;
			@include mq{
				flex-wrap: wrap;
				flex-direction: column-reverse;
			}
		}
		&__txt{
			width: 78%;
			position: relative;
			z-index: 2;
			padding-top: 115px;
			@include mq{
				width: 100%;
				margin-top: -65px;
				padding-top: 0;
			}
			.txt-basic{
				margin-bottom: 24px;
				letter-spacing: 0.08em;
				padding-right: 17%;
				@include mq(lg){
					padding-right: 0;
				}
				@include mq{
					letter-spacing: 0.155em;
					padding-right: 0;
					line-height: 1.9;
					margin-bottom: 19px;
				}
			}
		}
		&__img{
			width: 100%;
			position: relative;
			left: -40%;
			margin-right: -40%;
			@include mq{
				left: 0;
				margin-right: 0;
			}
		}
		.ttl{
			&-logo{
				margin-bottom: 45px;
				display: inline-block;
				@include mq{
					margin-bottom: 23px;
					//img{
					//	width: 100px;
					//}
				}
			}
			.txt{
				@include font-size(25);
				line-height: 1.76;
				letter-spacing:0.23em;
				padding-bottom: 28px;
				margin-bottom: 25px;
				position: relative;
				font-weight: 500;
				display: inline-block;
				width: 100%;
				@include mq(lg){
					@include font-size(22);
				}
				@include mq{
					@include font-size(20);
					letter-spacing: -0.01em;
					padding-bottom: 20px;
					margin-bottom: 21px;
				}
				@include mq(xs){
					@include font-size(16);
				}
				&:after{
					content: '';
					width: 50px;
					height: 1px;
					background: #4d4d4d;
					position: absolute;
					left: 0;
					bottom: 0;
				}
			}
		}
		&:nth-child(2n){
			text-align: right;
			.box-itemabout{
				&__wrap{
					flex-direction: row-reverse;
					text-align: right;
					@include mq{
						flex-direction: column-reverse;
					}
					.ttl{
						text-align: right;
					}
				}
				&__img{
					right: -40%;
					margin-right: 0;
					margin-left: -40%;
					left: auto;
				}
				&__txt{
					@include mq(md-min){
						padding-top: 156px;
					}
						.ttl{
							.txt{
								&:after{
									left: auto;
									right: 0;
								}
							}
						}
						.txt-basic{
							@include mq(lg-min){
								padding-left: 19%;
							}
							@include mq(md-min){
								padding-right: 0;
								padding-left: 0;
							}
						}
					
					
				}
			}
			.list-tags{
				justify-content: flex-end;
			}
			&:after{
				left: calc((-1)*((100vw - 1000px) / 2));
				right: auto;
				top: calc(50% + 13px);
				@include mq(lg){
					left: -18px;
				}
				@include mq(){
					top: -28px;
					transform: translateY(0);
				}
			}
		}
		&02{
			@include mq{
				.box-itemabout__txt{
					margin-top: -44px;
					.txt-basic{
						letter-spacing: 0.1em;
						margin-bottom: 23px;
						@include mq{
							text-align: right;
						}
					}
				}
			}
		}
		&03{
			@include mq{
				margin-bottom: 108px;
			}
			.box-itemabout{
				&__txt{
					@include mq(md-min){
						padding-top: 150px;
						.ttl{
							letter-spacing: 0.15em;
							&-logo{
								margin-bottom: 40px;
							}
						}
					}
					.txt-basic{
						@include mq{
							letter-spacing: 0.1em;
							margin-bottom: 23px;
						}
						
					}
				}
				
			}
		}
		&04{
			.box-itemabout{
				&__wrap{
					.box-itemabout__txt{
						@include mq(md-min) {
							padding-top: 150px;
						}
						@include mq{
							margin-top: -43px;
						}
					}
				}
				
			}
		}
		&05{
			.box-itemabout{
				&__txt{
					@include mq(md-min){
					padding-top: 155px;
					.ttl{
						letter-spacing: 0.15em;
						&-logo{
							margin-bottom: 50px;
						}
					}
					}
					@include mq{
						margin-top: -41px;
					}
				}
				
			}
		}
	}
	
	
	
}
.list-tags{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -8px 26px;
	@include mq{
		margin: 0 -8px 30px;
	}
	.item-tag{
		padding: 0 8px;
		margin-bottom: 15px;
		@include mq{
			margin-bottom: 12px;
		}
		@include mq(sm){
			display: inline-block;
			width: 100%;
		}
		a{
			padding: 6px 18px;
			@include font-size(16);
			color: #4d4d4d;
			font-weight: 500;
			letter-spacing: 0.12em;
			line-height: 2.225625;
			border: 1px solid #4d4d4d;
			@include mq{
				@include font-size(14);
				padding: 5px 14px;
				white-space: nowrap;
			}
		}
	}
}