.box-concepts{
	display: flex;
	align-items: center;
	padding-bottom: 161px;
	@include mq{
		flex-wrap: wrap;
		padding-bottom: 103px;
	}
	&__img{
		width:  53%;
		@include mq{
			width: 100%;
			margin-bottom: 29px;
			
		}
	}
	&__des{
		width: 47%;
		padding: 8px 0 0 58px;
		@include mq{
			width: 100%;
			padding: 0 0 0 20px;
		}
		.txt-des{
			@include font-size(27);
			font-weight: 500;
			line-height: 2.555;
			letter-spacing: 0.46em;
			margin-bottom: 30px;
			@include mq(lg){
				@include font-size(25);
			}
			@include mq{
				@include font-size(18);
				line-height: 2.444;
				margin-bottom: 16px;
			}
		}
		.ttl-des{
			@include font-size(40);
			font-family: $font-AvenirL;
			letter-spacing: 0.4em;
			color: rgba(77, 77, 77, 0.5);
			@include mq{
				@include font-size(26);
				
			}
		}
	}
}
.list-concept{
	margin-bottom: 145px;
	@include mq{
		margin-bottom: 97px;
	}
}
.item-concept{
	margin-bottom: 150px;
	@include mq{
		margin-bottom: 50px;
	}
	.ttl-comp02{
		position: relative;
		z-index: 2;
		
	}
	&main{
		display: flex;
		align-items: flex-start;
		@include mq{
			flex-wrap: wrap;
			flex-direction: column-reverse;
		}
	}
	.txt-basic{
		line-height: 2.82;
		letter-spacing: 0.2em;
		font-weight: 500;
		@include mq{
			line-height: 3;
			letter-spacing: 0;
		}
	}
	&01{
		margin-bottom: 229px;
		@include mq{
			margin-bottom: 128px;
		}
		.des{
			width: 65%;
			position: relative;
			z-index: 2;
			padding-top: 172px;
			padding-left: 26px;
			@include mq{
				width: 100%;
				padding-top: 0;
				padding-left: 0;
			}
			&>div{
				position: relative;
				z-index: 2;
				@include mq{
					letter-spacing: 1.3px;
				}
			}
			
			&:after{
				content: '';
				width: 113%;
				height: 50px;
				background-color: #ffffff;
				position: absolute;
				left: calc((-1)*((100vw - 1000px) / 2));
				bottom: 0;
				z-index: 0;
				@include mq(lg){
					left: -18px;
				}
				@include mq{
					width: 80%;
				}
			}
		}
		.img{
			width: 93%;
			position: relative;
			left: -22%;
			margin-right: -22%;
			top: -38px;
			z-index: 0;
			@include mq{
				width: 100%;
				left: 0;
				right: 0;
				top: 0;
				margin-bottom: 32px;
			}
		}
		.ttl-comp02{
			padding-right: 41.5%;
			text-align: center;
			@include mq{
				padding-right: 0;
				margin-bottom: 47px;
			}
		}
		.item-conceptmain{
			@include mq{
				flex-direction: column-reverse;
			}
		}
	}
	&02{
		@include mq{
			margin-bottom: 89px;
		}
		.item-conceptmain{
				flex-direction: row-reverse;
			@include mq(lg){
				flex-wrap: wrap;
				flex-direction: column-reverse;
				align-items: center;
				flex-shrink: 1
			}
			
			.img{
				display: flex;
				width: 65%;
				@include mq(lg){
					width: 100%;
					align-items: flex-start;
				}
				img{
					width: calc(100% - 80px);
					padding-left: 50px;
					//@include mq(lg){
					//	height: auto !important;
					//}
					@include mq(sm){
						width: calc(100% - 50px);
						padding-left: 20px;
					}
				}
			}
			.des{
				width: 35%;
				padding-right: 0;
				padding-left: 50px;
				position: relative;
				@include mq(lg){
					width: 100%;
					padding-left: 0;
				}
				&>div, h2{
					position: relative;
					z-index: 2;
				}
				&:after{
					content: '';
					width: 30vw;
					height: 265px;
					right: calc((-1)*((100vw - 1000px) / 2));
					position: absolute;
					bottom: 105px;
					background: #ffffff;
					z-index: 0;
					@include mq(lg){
						right: -18px;
					}
					@include mq{
						width: 68%;
						bottom: 80px;
					}
				}
			}
			.txt-basic{
				@include mq{
					letter-spacing: 1.3px;
				}
			}
		}
		.ttl-cal{
			@include font-size(20);
			letter-spacing: 0.25em;
			line-height: 2.235;
			padding: 37px 0 60px 0;
			margin-bottom: 35px;
			position: relative;
			font-weight: 500;
			@include mq{
				@include font-size(16);
				padding: 41px 0 43px 0;
				line-height: 2;
				margin-bottom: 33px;
			}
			&>span{
				display: inline-block;
				width: 100%;
			}
			.vt{
				writing-mode: vertical-rl;
				text-align: center;
				vertical-align: middle;
				@include font-size(32);
				line-height: 1.3;
				padding-left: 17%;
				@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
					padding-left: 8%;
				}
				@include mq(lg){
					padding-left: 48px;
				}
				@include mq{
					@include font-size(23);
					line-height: 1;
					position: relative;
					top: -2px;
					
				}
			}
			&:after{
				content: '';
				width: 50px;
				height: 1px;
				background: #4d4d4d;
				display: inline-block;
				position: absolute;
				left: 0;
				bottom: 0;
				@include mq{
					width: 30px;
				}
			}
		}
		.ttl-comp02{
			top: -65px;
			position: relative;
			@include mq{
				top: -35px;
			}
		}
	}
	&03{
		@include mq{
			margin-bottom: 90px;
		}
		.des{
			width: 50%;
			position: relative;
			z-index: 2;
			padding-top: 38px;
			padding-left: 42px;
			@include mq{
				width: 100%;
				padding: 0;
			}
			&>div{
				position: relative;
				z-index: 2;
			}
			&:after{
				content: '';
				width: 22%;
				height: 157%;
				background-color: #ffffff;
				position: absolute;
				left: calc((-1)*((100vw - 1000px) / 2));
				bottom: -19%;
				z-index: 0;
				@include mq(lg){
					left: -18px;
				}
				@include mq{
					width: 6%;
					bottom: 3%;
				}
			}
		}
		.img{
			width: 77%;
			position: relative;
			left: -10%;
			margin-right: -10%;
			top: -10px;
			z-index: 0;
			@include mq{
				width: 100%;
				left: auto;
				top: auto;
				margin-right: 0;
				margin-bottom: 32px;
				position: relative;
				z-index: 2;
			}
		}
		.ttl-comp02{
			padding-left: 34%;
			text-align: center;
			letter-spacing: 0.45em;
			margin-bottom: 87px;
			@include mq{
				padding-left: 0;
				margin-bottom: 42px;
			}
			span{
				padding: 19px 37px 17px;
				@include mq{
					padding: 15px 15px;
				}
			}
		}
	}
	&04{
		align-items:center;
		.des{
			width: 47%;
			position: relative;
			z-index: 2;
			padding: 8px 0 0 50px;
			@include mq(ipd){
				padding: 8px 0 0 9px;
			}
			@include mq{
				width: 100%;
				padding: 0;
			}
			&>div{
				position: relative;
				z-index: 2;
			}
			.txt-basic{
				@include mq{
					@include font-size(16);
					line-height: 2.82;
					//letter-spacing: 1.9px;
					letter-spacing: 0.1em;
				}
				@include mq(xs){
					@include font-size(14);
				}
			}
		}
		.img{
			width: 53%;
			@include mq{
				width: 100%;
				margin-bottom: 33px;
			}
		}
		.item-conceptmain{
			align-items: center;
			@include mq{
				flex-direction: column;
			}
		}
	}
	
}
.ttl-concept01{
	text-align: center;
	padding: 28px 0;
	position: relative;
	@include font-size(30);
	line-height: 1.458;
	margin-bottom: 98px;
	font-family: $font-notoJp;
	letter-spacing: 0.5em;
	@include mq{
		@include font-size(18);
		padding: 17px 0;
		margin-bottom: 37px;
	}
	&> span{
		position: relative;
		z-index: 2;
	}
	&:after{
		content: '';
		width: 100vw;
		background: #ffffff;
		position: absolute;
		top: 0;
		bottom: 0;
		left: calc((-1)*((100vw - 1000px) / 2));
		right: calc((-1)*((100vw - 1000px) / 2));
		@include mq(lg){
			left: -18px;
			right: -18px;
		}
	}
}
.list-linkcp{
	display: flex;
	align-items: center;
	margin: 0 -10px 189px;
	@include mq{
		margin: 0 -8px 114px;
		flex-wrap: wrap;
	}
	.item-linkcp{
		letter-spacing: 2px;
		padding: 0 10px;
		width: calc(20%);
		@include mq{
			width: 50%;
			padding: 0 8px 17px;
		}
		a{
			display: inline-block;
			@include font-size(16);
			font-family: $font-notoJp;
			padding: 11px 5px;
			border-radius: 50px;
			border: 1px solid #4d4d4d;
			color: #4d4d4d;
			text-align: center;
			width: 100%;
			@include mq{
				@include font-size(13);
				letter-spacing: 1.9px;
				.en{
					@include font-size(14);
				}
			}
			@include mq(xs){
				@include font-size(11);
			}
		}
	}
}
.sec-concepts{
	padding: 105px 0 123px;
	@include mq{
		padding: 45px 0 153px;
	}
}