.bg-lightbrown{
	background: #FAFAFA;
	@include mq{
		padding-top: 51px;
	}
}
.sec-mv{
	background: url("../img/index/img-bg01.jpg") no-repeat top left;
	background-size: 50% auto;
	margin-bottom: 142px;
	@include mq(xl){
		background-size: 80% auto;
	}
	@include mq{
		margin-bottom: 27px;
		background: url("../img/index/img-bg01-sp.jpg") no-repeat top left;
		background-size: 67% auto;
	}
	.box-mv{
		display: flex;
		align-items: flex-start;
		padding: 75px 0 50px;
		@include mq{
			flex-wrap: wrap;
			padding: 16px 0;
		}
		.des-mv{
			width: 43%;
			padding-top: 57px;
			@include mq(xl){
				padding-right: 15px;
			}
			@include mq{
				width: 100%;
				padding: 0 16px 0 24px;
				
			}
			@include mq(xs){
				padding: 0 ;
			}
		}
		.slide-mv{
			width: 57%;
			position: relative;
			@include mq{
				width: 100%;
				padding: 0 16px 0 24px;
				margin-bottom: 52px;
			}
			@include mq(xs){
				padding: 0;
			}
			.slider__counter{
				@include font-size(18);
				font-family: $font-AvenirL;
				color: #4D4D4D;
				width: 220px;
				height: 60px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				background: #ffffff;
				text-align: center;
				position: absolute;
				right: 0;
				bottom: -30px;
				padding-top: 5px;
				letter-spacing: 2px;
				@include mq{
					@include font-size(16);
					width: 205px;
					height: 50px;
					bottom: -26px;
				}
			}
			.list-slides{
				.slick-prev, .slick-next{
					bottom: -23px;
					z-index: 1;
					top: auto;
					&:before{
						content: '';
						width: 6px;
						height: 6px;
						display: inline-block;
						border-top: 1px solid #4D4D4D;
						border-right: 1px solid #4D4D4D;
					}
				}
				.slick-prev{
					left: auto;
					right: 155px;
					@include mq{
						right: 143px;
					}
					&:before{
						transform: rotate(225deg);
					}
				}
				.slick-next{
					right: 54px;
					&:before{
						transform: rotate(45deg);
					}
				}
				.slick-slide img{
					width: 100%;
				}
			}
			
		}
	}
	.ttl-mv{
		@include font-size(30);
		font-weight: 500;
		line-height: 1.933;
		letter-spacing: 0.34em;
		margin-bottom: 17px;
		@include mq(ipd){
			@include font-size(24);
		}
		@include mq(){
			@include font-size(20);
			margin-bottom: 21px;
		}
	}
	.txt-basic{
		letter-spacing: 0.25em;
		font-weight: 500;
		@include mq{
			letter-spacing: 0;
		}
	}
	
}
.sec-content{
	padding-bottom: 121px;
	@include mq{
		padding-bottom: 137px;
	}
}
.slogan{
	@include font-size(30);
	font-weight: 500;
	line-height: 1.7;
	letter-spacing: 0.2em;
	padding: 13px 10px;
	text-align: center;
	border: 2px solid #dbdbdc;
	margin-bottom: 124px;
	color: #4d4d4d;
	display: inline-block;
	width: 100%;
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		padding: 18px 10px 7px;
	}
	@include mq(ipd){
		@include font-size(25);
	}
	@include mq{
		@include font-size(18);
		line-height: 1.33;
		letter-spacing: 0.26em;
		margin-bottom: 61px;
	}
	@include mq(xs){
		@include font-size(16);
	}
}
.box-concept{
	margin-bottom: 127px;
	@include mq{
		margin-bottom: 66px;
	}
	.block-concept{
		.img{
			width: 65%;
			@include mq{
				width: 88.9%;
			}
		}
		.des-concept{
			padding-left: 44%;
			margin-top:-23%;
			position: relative;
			z-index: 2;
			@include mq{
				padding-left: 12%;
				margin-top: -12%;
			}
			&-wrap{
				padding: 44px 35px;
				background: #ffffff;
				@include mq{
					padding: 36px 18px;
				}
			}
			.txt-basic{
				margin-bottom: 27px;
				font-weight: 500;
				@include mq{
					letter-spacing: 0.16em;
					margin-bottom: 18px;
				}
			}
		}
	}
}
.box-about{
	margin-bottom: 121px;
	position: relative;
	z-index: 0;
	@include mq{
		margin-bottom: 97px;
	}
	&:before{
		content: '';
		width: 55vw;
		height: auto;
		position: absolute;
		left: calc((-1) * (100vw - 1030px));
		top: 22px;
		bottom: 0;
		background: #ffffff;
		z-index: 0;
		@include mq(lg){
			left: -18px;
		}
	}
	&__ct{
		position: relative;
		z-index: 3;
	}
}
.list-abouts{
	margin: 0 -10px 52px;
	@include mq{
		margin: 0 -10px 29px;
	}
	.item-about{
		padding: 0 10px;
	}
	
}
.js-slide{
	@include mq(sm){
		.slick-list
		{padding:0 36.8% 0 0 !important;}
	}
}
.js-slide04{
	@include mq(sm){
		.slick-list
		{padding:0 31% 0 0 !important;}
	}
}
.w-txt{
	max-width: 694px;
	margin: 0 auto 40px;
	letter-spacing: 0.2em;
	text-align: center;
	font-weight: 500;
	@include mq{
		text-align: left;
		margin: 0 auto 31px;
	}
}
.box-shopinfo{
	margin-bottom: 47px;
	@include mq{
		margin-bottom:36px;
	}
}
.list-shopinfo{
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	.item-shopinfo{
		width: calc(50% - 20px);
		margin-right: 40px;
		margin-bottom: 80px;
		@include mq(sm){
			width: 100%;
			margin-right: 0;
			margin-bottom: 51px;
		}
		&:last-child, &:nth-child(2n){
			margin-right: 0;
		}
		.img{
			margin-bottom: 21px;
			@include mq{
				margin-bottom: 14px;
			}
			a{
				display: inline-block;
				width: 100%;
				position: relative;
				//margin-bottom: 22px;
				img{
					width: 100%;
				}
			}
			.ttl-img{
				@include font-size(17);
				line-height:1.397 ;
				letter-spacing: 0.2em;
				color: #ffffff;
				text-transform: uppercase;
				position: absolute;
				right: 5px;
				bottom: 5px;
				@include mq{
					right: 11px;
					letter-spacing: 0.15em;
				}
			}
		}
		.ttl-shopinfo{
			text-align: center;
			@include font-size(16);
			letter-spacing: 0.2em;
			line-height: 1.68;
			margin-bottom: 25px;
			font-family: $font-notoJp;
			display: flex;
			align-items: center;
			justify-content: center;
			.en{
				@include font-size(26);
				@include mq{
						@include font-size(24);
				}
			}
			@include mq{
				@include font-size(14);
				margin-bottom: 23px;
				
			}
		}
		.list-links{
			display: flex;
			align-items: center;
			justify-content: center;
			.item-link{
				margin-right: 35px;
				
				@include mq{
					margin-right: 24px;
				}
				&:last-child, &:nth-child(2n){
					margin-right: 0;
				}
				.btn-comp02{
					@include font-size(16);
					padding: 0 0 9px;
					@include mq(xs){
						@include font-size(14);
					}
				}
			}
		}
	}
}
.box-style{
	margin-bottom: 128px;
	@include mq{
		margin-bottom: 113px;
	}
	.btn-comp03{
		&:after{
			right: 25px;
		}
	}
}
.list-style{
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-bottom: 46px;
	@include mq{
		margin-bottom: 29px;
	}
	.item{
		width: calc(25% - 22.5px);
		margin-right: 30px;
		margin-bottom: 20px;
		&:last-child, &:nth-child(4n){
			@include mq(md-min){
				margin-right: 0;
			}
		}
		@include mq{
			width: calc(50% - 5px);
			margin-right: 10px;
			margin-bottom: 10px;
			&:last-child, &:nth-child(2n){
					margin-right: 0;
			}
		}
	}
}
.box-news{
	margin-bottom: 132px;
	@include mq{
		margin-bottom: 118px;
	}
}
.list-news{
	margin: 0 -15px 78px;
	@include mq{
		margin: 0 -10px 40px;
	}
	.item-news{
		padding: 0 15px;
		
		@include mq{
			padding: 0 10px;
		}
		a{
			display: inline-block;
			width: 100%;
			color: #666666;
		}
		.ttl-news{
			@include font-size(16);
			line-height: 1.5625;
			//letter-spacing: 0.2em;
			font-weight: 500;
			margin-bottom: 6px;
		}
		.img{
			margin-bottom: 18px;
		}
	}
}
.time-news{
	@include font-size(14);
	letter-spacing: 0.2em;
	line-height: 2.285;
	color: #999999;
	font-weight: 500;
}
.box-recruit{
	padding: 35px 35px;
	background: url("../img/index/img-bgrecruit.jpg") no-repeat center center;
	background-size: cover;
	@include mq{
		padding: 25px 25px;
	}
	.block-recruit{
		position: relative;
		.des-recruit{
			position: absolute;
			right: -13px;
			width: 49.786%;
			bottom: -15px;
			@include mq{
				right: auto;
				width: 85%;
				bottom: 23px;
				left: 50%;
				transform: translateX(-50%);
				max-width: 463px;
			}
			img{
				width: 100%;
			}
		}
		.img-recruit{
			img{
				width: 100%;
			}
		}
	}
	.ttl-vertical{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -24px;
		@include mq{
			
			top:-43px;
			transform: translateX(-50%);
			left: 50%;
		}
		span{
			@include font-size(30);
			line-height: 1.458;
			letter-spacing: 0.4em;
			font-family: $font-AvenirH;
			font-weight: 900;
			left: -26px;
			@include mq(md-min){
				writing-mode: vertical-rl;
			}
			@include mq{
				@include font-size(24);
			}
		}
	}
	&01{
		@include mq(md-min){
			padding: 19px 19px 19px 63px;
			background: url("../img/concept/img-bgrecruit.jpg") no-repeat center center;
			background-size: cover;
			.block-recruit{
				.des-recruit{
					width: 59%;
					right: 0;
					bottom: 7px;
					top: 0;
					left: 42.5%;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
					img{
						width: 65%;
					}
				}
			}
			.ttl-vertical{
				left: -47px;
				span{
					@include font-size(24);
					letter-spacing: 0.3em;
				}
			}
		}
		
		
	}
}