
body {
	color: #4D4D4D;
	font-family: $font-Yugothic;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	line-height: 1.4;
	overflow-x: hidden;
}




//header
#header{
	position: relative;
	padding: 31px 0 36px;
	@include mq{
		padding: 9px 0 5px;
		position: fixed;
	    width: 100%;
	    z-index: 9999;
	    background: #fff;
	}
	& > .inner{
		position: relative;
	}
	.header{
		@include mq{
			display: flex;
			align-items: center;
		}
		&-l{
			width: 300px;
			padding-right: 19px;
			display: inline-block;
			margin-bottom: 8px;
			@include mq{
				width: 200px;
			}
			.logo{
				width: 266px;
				display: inline-block;
				@include mq{
					width: 180px;
				}
				img{
					width: 100%;
				}
			}
		}
		&-r{
			display: flex;
			align-items: center;
			justify-content: flex-end;
			position: relative;
			margin-bottom: -60px;
			padding: 0 24px 0 300px;
			z-index: 3;
			@include mq{
				margin-bottom: 0;
				padding: 0;
				width: calc(100% - 200px);
			}
		}
	}
	.box-menu{
		position: relative;
		z-index: 9;
		//padding-right: 15px;
		//.nav-menu{
		//	//position: absolute;
		//	//top: 50px;
		//	//right: 0;
		//
		//}
		.nav-menu{
			
			width: calc( 638px + ((100vw - 1176px) / 2));
			background: rgba(26, 26, 26, 0.87);
			padding: 52px calc((100vw - 1206px) / 2) 52px 50px;
			display: none;
			position: fixed;
			top: 0;
			right: 0;
			@include mq(xl){
				width: 700px;
				padding: 52px 50px;
			}
			@include mq(){
				width: 100%;
				position: fixed;
				padding: 18px 0px;
				
			}
			.ttl-logo{
				//padding-bottom: 25px;
				border-bottom: 1px solid #ffffff;
				margin-bottom: 25px;
				padding: 0 0 34px 12px;
				@include mq{
					padding: 0 16px 17px 16px;
				}
				.logo{
					width: 265px;
					display: inline-block;
					@include mq{
						width: 180px;
					}
					img{
						width: 100%;
					}
				}
			}
			&main{
				//padding: 0 10px;
				@include mq(){
					overflow-y: scroll;
					height: 100vh;
				}
				a, .jssub{
					@include font-size(16);
					color: #ffffff;
					line-height: 1.5;
					font-weight: 500;
					letter-spacing: 0.15em;
					//font-family: $font-AvenirL;
					display: inline-flex;
					width: 100%;
					align-items: center;
					@include mq{
						@include font-size(14);
					}
					.en{
						font-weight:300;
					}
				}
				.list-menu{
					margin: 0 -5px;
					display: flex;
					align-items: flex-start;
					@include mq{
						flex-wrap: wrap;
					}
					.item{
						width: 47%;
						padding: 0 0px 0 20px;
						@include mq(sm){
							width: 100%;
							margin-bottom: 22px;
							&:last-child{
								margin-bottom: 0;
							}
						}
						@include mq(xs){
							padding: 0;
						}
						
						.l{
							width: 50%;
							display: inline-block;
							text-align: left;
							@include mq{
								width: 55%;
							}
						}
						.r{
							width: 50%;
							display: inline-block;
							text-align: left;
							@include mq{
								width: 45%;
							}
							
						}
						.jp{
							@include font-size(12);
							letter-spacing: 0.1em;
							font-weight: 500;
							@include mq{
								@include font-size(9);
							}
						}
						&01{
							width: 53%;
							@include mq(sm){
								width: 100%;
							}
							.r{
								width: 45%;
								
							}
							.l{
								width: 55%;
								padding-right: 10px;
							}
						}
					}
					&sub{
						.item-menusub{
							margin-bottom: 17px;
							@include mq{
								margin-bottom: 20px;
							}
							&:last-child{
								margin-bottom: 0;
							}
						}
						&01{
							position: relative;
							padding-top: 5px;
							@include mq{
								padding-top: 10px;
							}
							&:before{
								content: '';
								width: 1px;
								height: calc(100% - 16px);
								background: #ffffff;
								display: inline-block;
								position: absolute;
								left: 14px;
								@include mq{
									left: 12px;
									height: calc(100% - 19px);
								}
							}
							.item-menusub01{
								margin-bottom: 16px;
								padding-left: 15px;
								position: relative;
								display: flex;
								align-items: center;
								@include mq{
									margin-bottom: 19px;
									padding-left: 12px;
								}
								&:before{
									content: '';
									width: 17px;
									height: 1px;
									background: #ffffff;
									display: inline-block;
								}
								&:last-child{
									margin-bottom: 0;
								}
								&:first-child{
									margin-top: 18px;
								}
								& > a{
									margin-left: 10px;
									.r{
										width: calc(48% - 24px);
										@include mq(){
											width: calc(44% - 22px);
										}
									}
									.l{
										width: calc(52% - 24px);
										@include mq(){
											width: calc(56% - 22px);
										}
									}
								}
							}
						}
						.jssub{
							@include mq{
								.en{
									position: relative;
									&:after{
										content: '';
										width: 5px;
										height: 5px;
										border-top: 1px solid #ffffff;
										border-right: 1px solid #ffffff;
										transform: rotate(135deg) translateY(-50%);
										display: inline-block;
										position: absolute;
										top: calc(50% - 8px);
										right: -40px;
									}
								}
								&.jsopen{
									.en{
										&:after{
											border-right: 0;
											transform: rotate(0) translateY(-50%);
											top: 50%;
										}
									}
								}
							}
						}
					}
				}
				&t{
					padding-bottom: 24px;
					border-bottom: 1px solid #ffffff;
					margin-bottom: 23px;
					@include mq(sm){
						padding: 0 44px 32px;
						margin-bottom: 30px;
					}
					@include mq(xs){
						padding: 0 30px 32px;
					}
				}
				&b{
					@include mq{
						padding-bottom: 80px;
					}
					@include mq(sm){
						padding: 0 30px 200px;
					}
					.list-menubt{
						display: flex;
						align-items: center;
						margin: 0 -14px;
						flex-wrap: wrap;
						@include mq{
							margin: 0;
						}
						.item-menubt{
							width: 50%;
							padding: 0 14px;
							margin-bottom: 16px;
							@include mq(sm){
								width: 100%;
								padding: 0;
							}
							&:last-child{
								@include mq(sm){
									margin-top: 14px;
									margin-bottom: 0;
								}
								
							}
							a{
								font-weight: 500;
								@include mq{
									@include font-size(16);
								}
							}
						}
					}
				}
			}
		}
	}
	.line-calendar{
		display: flex;
		align-items: center;
		margin-right: 49px;
		&> div{
			margin-right: 18px;
			&:last-child{
				margin-right: 0;
			}
		}
		.line{
			
			a{
				width: 32px;
				display: inline-block;
				margin-right: 10px;
				img{
					width: 100%;
				}
			}
		}
		.reserve{
			a{
				@include font-size(19);
				line-height: 1.5;
				letter-spacing: 0.2em;
				display: flex;
				align-items: center;
				padding: 5px 25px 5px 33px;
				border: 1px solid #666666;
				color: #4D4D4D;
				border-radius: 50px;
				background: #ffffff;
				@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
					padding: 10px 25px 5px 33px;
				}
				.img{
					width: 19px;
					margin-right: 10px;
					img{
						width: 100%;
					}
					.white{
						display: none;
					}
				}
				&:hover{
					background: #666666;
					color: #ffffff;
					.img{
						.gray{
							display: none;
						}
						.white{
							display: block;
						}
					}
				}
			}
		}
	}
}
.btn-line{
	color: #1A1A1A !important;
	position: relative;
	display: inline-block;
	background: #ffffff;
	width: 100%;
	padding: 10px 10px 7px 79px;
	letter-spacing: 0.2em !important;
	@include mq(xs){
		padding: 10px 10px 7px 47px;
	}
	&:before{
		content: '';
		width: 26px;
		height: 25px;
		background: url("../img/common/img-line.png") no-repeat center center;
		background-size: 100%;
		display: inline-block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 38px;
		@include mq(xs){
			left: 15px;
		}
	}
}
.mobile-icon {
	display: inline-block;
	//margin-left: 17px;
	.ico-bar{
		width: 40px;
		height: 30px;
		transition: background .5s;
		cursor: pointer;
		z-index: 12;
		display: block;
		margin-right: 0;
		position: relative;
		@include mq{
			width: 30px;
			height: 22px;
		}
		span{
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
			display: block;
			width: 100%;
			height: 2px;
			margin-top: -2px;
			background: #4D4D4D;
			font-size: 0;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			-webkit-transition: background-color 0.3s;
			-o-transition: background-color 0.3s;
			transition: background-color 0.3s;
			border-radius: 3px;
			@include mq{
				height: 1px;
				margin-top: -2px;
			}
			&:before,&:after{
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				background: #4D4D4D;
				content: '';
				-webkit-transition: -webkit-transform 0.3s;
				transition: transform 0.3s;
				border-radius: 3px;
			}
			&:before{
				-webkit-transform: translateY(-250%);
				transform: translateY(-250%);
				top: -6px;
				@include mq{
					top: -4px;
				}
			}
			&:after{
				-webkit-transform: translateY(250%);
				transform: translateY(250%);
				bottom: -6px;
				@include mq{
					bottom: -5px;
				}
			}
		}
		&.close {
			position: relative;
			width: 30px;
			margin: 0 auto;
			@include mq{
				width: 25px;
			}
			span {
				background-color: transparent;
				&:before,&:after{
					width: 100%;
					background: #ffffff;
				}
				&:before {
					-webkit-transform: translateY(0) rotate(45deg);
					transform: translateY(0) rotate(45deg);
					top: 2px;
				}
				&:after {
					-webkit-transform: translateY(0) rotate(-45deg);
					transform: translateY(0) rotate(-45deg);
					bottom: -2px;
				}
			}
			& + .txt{
				color: #ffffff;
				position: relative;
				top: 5px;
				@include mq{
					top: 0;
				}
			}
		}
	}
	.txt{
		letter-spacing: 1px;
		@include font-size(12);
		color: #4D4D4D;
		text-transform: uppercase;
		display: inline-block;
		width: 100%;
		text-align: center;
		@include mq{
			@include font-size(9);
		}
	}
	&.mobile-close{
		position: relative;
		top: -22px;
		right: -31px;
		@include mq{
			top: -2px;
			right: 1px;
		}
	}
}


//footer
#footer{
	@include font-size(14);
	font-weight: 300;
	position: relative;
	@include mq{
		@include font-size(12);
	}
	.footer{
		&-t{
			padding: 38px 0;
			background: #FAFAFA;
			@include mq{
				padding: 20px 0;
			}
			.list-links{
				display: flex;
				align-items: center;
				justify-content: center;
				a{
					
					color: #4D4D4D;
					text-transform: uppercase;
					letter-spacing: 0.2em;
					position: relative;
					&:after{
						content: '| ';
						margin: 0 5px;
						//@include mq{
						//	content: '| ';
						//}
					}
				}
				.item{
					&:last-child{
						a{
							&:after{
								content: none;
							}
						}
					}
				}
			}
		}
		&-bt{
			text-align: center;
			padding: 18px 0;
			border-top: 1px solid #4D4D4D;
			@include font-size(14);
			letter-spacing: 0.2em;
			line-height: 1.5;
			@include mq{
				@include font-size(12);
				letter-spacing: 0;
			}
		}
	}
	.inner{
		position: relative;
	}
}

#backtop{
	position: absolute;
	right: 20px;
	top: 68px;
	@include mq{
		right: 18px;
		top: -70px;
	}
	a{
		padding: 8px 9px 5px;
		background: #999999;
		display: inline-block;
		span{
			@include font-size(12);
			//font-weight: 300;
			font-family: $font-AvenirL;
			color: #ffffff;
			letter-spacing: 0.2em;
			line-height: 1.2;
			position: relative;
			padding-top: 20px;
			display: inline-block;
			&:before{
				content: '';
				width: 17px;
				height: 13px;
				background: url("../img/common/img-icontop.png") no-repeat center center;
				background-size: 100%;
				display: inline-block;
				position: absolute;
				top: 2px;
				left: 0;
				right: 0;
				margin: 0 auto;
			}
		}
		
	}
	
}

.is-locked {
	    overflow: hidden;
	    -ms-touch-action: none;
	    touch-action: none;
	    body{
	    	-webkit-overflow-scrolling: auto;
	    }
	}