
.inner {
	display: block;
	max-width: 1036px;
	padding: 0 18px;
	margin: 0 auto;
	&-1140{
		max-width: 1176px;
	}
}


.clearfix {
	*zoom: 1;
	&:before {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
		content: "";
		display: table;
	}
}

a{
	text-decoration: none;
	@include smooth-transition;
	&:hover{
		opacity: 0.7;
	}
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		display: inline-block;
	}
	&[href^="tel"] {
		@include mq(md-min){
			pointer-events: none;
		}
	}
}


.pc{
	@include mq(){
		display: none !important;
	}
	&-ipd{
		@include mq(ipd){
			display: none !important;
		}
	}
	&-lg{
		@include mq(lg){
			display: none !important;
		}
	}
	&-sm{
		@include mq(sm){
			display: none !important;
		}
	}
	&-xs{
		@include mq(xs){
			display: none !important;
		}
	}
}
.sp{
	@include mq(md-min){
		display: none !important;
	}
	&-ipd{
		@include mq(ipd-min){
			display: none !important;
		}
	}
	&-lg{
		@include mq(lg-min){
			display: none !important;
		}
	}
	&-sm{
		@include mq(sm-min){
			display: none !important;
		}
	}
}

.en{
	font-family: $font-AvenirL;
}


//ttl
.ttl-comp{
	&01{
		@include font-size(35);
		//font-weight: 300;
		color: #4D4D4D;
		font-family: $font-AvenirL;
		letter-spacing: 0.4em;
		line-height: 1.25;
		margin-bottom: 22px;
		@include mq{
			@include font-size(24);
			letter-spacing: 0.3em;
			margin-bottom: 7px;
		}
	}
	&02{
		@include font-size(30);
		line-height: 1.458;
		//font-family: $font-KozGoPr6N-Rg;
		font-family: $font-notoJp;
		letter-spacing: 0.42em;
		@include mq(sm){
			@include font-size(18);
		}
		span{
			padding: 24px 62px 16px;
			position: relative;
			display: inline-block;
			@include mq(sm){
				padding: 13px 15px;
				min-width: 77%;
			}
			&:after, &:before{
				content: '';
				width: 24px;
				height: 24px;
				display: inline-block;
				position: absolute;
				@include mq{
					width: 15px;
					height: 15px;
				}
			}
			&:after{
				border-bottom: 1px solid #4d4d4d;
				border-right: 1px solid #4d4d4d;
				bottom: 0;
				right: 0;
			}
			&:before{
				border-top: 1px solid #4d4d4d;
				border-left: 1px solid #4d4d4d;
				top: 0;
				left: 0;
			}
		}
		&__vt{
			span{
				width: 80px;
				padding: 28px 16px 33px 27px;
				text-align: center;
				vertical-align: middle;
				line-height: 1.5;
				@include mq(sm){
					width: 50px;
					padding: 20px 15px;
				}
				&:before{
					right: 0;
					border-left: 0;
					border-right:1px solid #4d4d4d;
					left: auto;
				}
				&:after{
					left: 0;
					border-right: 0;
					border-left:1px solid #4d4d4d ;
					@include mq{
						border-bottom: 1px solid #4d4d4d;
					}
				}
			}
		}
	}
	&03{
		@include font-size(40);
		font-family: $font-AvenirL;
		line-height: 1.06875;
		letter-spacing: 0.4em;
		text-align: center;
		@include mq{
			@include font-size(26);
			letter-spacing: 0.3em;
		}
	}
}

//text
.txt{
	&-basic{
		line-height: 2.25;
		@include font-size(16);
		letter-spacing: 0.25em;
		@include mq(){
			@include font-size(14);
			line-height: 2;
			letter-spacing: 0.1em;
		}
	}
	&-center {
		text-align: center;
	}
	&-right {
		text-align: right;
	}
	&-left {
		text-align: left;
	}
}



//btn
.btn {
	&-comp01{
		@include font-size(16);
		line-height: 1.4;
		color: #ffffff;
		padding: 7px 25px;
		border: 1px solid #ffffff;
		border-radius: 50px;
		position: relative;
		display: inline-block;
		width: 100%;
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			padding: 11px 25px 4px;
		}
		@include mq{
			padding: 9px 25px;
		}
		&:after{
			content: '';
			width: 5px;
			height: 5px;
			border-top: 1px solid #ffffff;
			border-right: 1px solid #ffffff;
			display: inline-block;
			transform: rotate(45deg) translateY(-50%);
			position: absolute;
			top: 50%;
			right: 30px;
		}
	}
	&-comp02{
		@include font-size(16);
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 0.15em;
		line-height: 1.6;
		font-family: $font-AvenirL;
		color: #4D4D4D;
		padding-bottom: 9px;
		border-bottom: 2px solid #afafb0;
		display: inline-block;
		white-space: nowrap;
		@include mq{
			@include font-size(14);
			padding: 0 10px 5px;
			letter-spacing: 0;
		}
		
	}
	&-comp03{
		@include font-size(16);
		font-family: $font-AvenirL;
		//letter-spacing: 0.3em;
		letter-spacing: 0.2em;
		text-align: left;
		line-height: 1.5;
		color: #4D4D4D;
		padding: 9px 31px 7px;
		border: 1px solid #4D4D4D;
		display: inline-block;
		min-width: 200px;
		//text-align: center;
		position: relative;
		background: rgb(260, 260, 260);
		@include mq{
			padding-right: 41px;
			letter-spacing: 0.2em;
		}
		@include mq(xs){
			min-width: 145px;
			padding-right: 18px;
		}
		&:after{
			content: '';
			height: 8px;
			width: 8px;
			border-top: 1px solid #4D4D4D;
			border-right: 1px solid #4D4D4D;
			display: inline-block;
			transform: rotate(45deg) translateY(-50%) skew(-12deg, -12deg);
			right: 29px;
			position: absolute;
			top: calc(50% - 1px);
			@include mq(xs){
				right: 20px;
			}
		}
	}
	&-comp04 {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		border: 1px solid #666666;
		border-radius: 7px;
		@include font-size(16);
		font-weight: bold;
		color: white;
		background: #666666;
		width: 100%;
		height: 50px;
		@include palt;
		letter-spacing: 2.5px;
		@include mq {
			@include font-size(14);
			height: 40px;
			border-radius: 6px;
		}
		&:hover {
			opacity: 1;
			background: white;
			color: #666666;
		}
	}
	&-comp05 {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 292px;
		height: 50px;
		border: 1px solid black;
		@include font-size(20);
		font-family: $font-CenturyGothic;
		color: inherit;
		margin: 0 auto;
		.txt {
			margin: 0 5px;
			letter-spacing: 2.8px;
		}
		.ico {
			margin-top: -3px;
		}
		.arr {
			margin-top: -2px;
		}
	}
}




//form input
.form-control{
	display: block;
	width: 100%;
	height: 45px;
	background: white;
	border: 1px solid #ccc;
	font-weight: 500;
	padding: 5px 10px;
	@include font-size(15);
	&:focus{
		border-color: #66afe9;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	}
}

//HTML CSS radio end check box

//<ul>
//	<li>
//		<div class="pure-input">
//			<input id="radio1" name="radio" type="radio" class="radio" checked="checked">
//			<label for="radio1">Option 1</label>
//		</div>
//	</li>
//
//	<li>
//		<div class="pure-input">
//			<input id="radio2" name="radio" type="radio" class="radio">
//			<label for="radio2">Option 2</label>
//		</div>
//	</li>
//
//	<li>
//		<div class="pure-input">
//			<input id="checkbox1" name="checkbox" type="checkbox" checked="checked">
//			<label for="checkbox1">Choice A</label>
//		</div>
//	</li>
//
//	<li>
//		<div class="pure-input">
//			<input id="checkbox2" name="checkbox" type="checkbox">
//			<label for="checkbox2">Choice B</label>
//		</div>
//	</li>
//</ul>

//radio end check box
.pure-input{
	input{
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		&[type="checkbox"]{
			& + label{
				&:after{
					background-color: transparent;
					top: 50%;
					left: 4px;
					width: 8px;
					height: 3px;
					margin-top: -4px;
					border-style: solid;
					border-color: #ffffff;
					border-width: 0 0 3px 3px;
					border-image: none;
					transform: rotate(-45deg) scale(0);
				}
			}
			&:checked{
				& + label{
					&:after{
						content: '';
						transform: rotate(-45deg) scale(1);
						transition: transform 200ms ease-out;
					}
					&:before{
						animation: borderscale 200ms ease-in;
						background: #4F8196;
					}
				}
			}
		}
		&[type="radio"]{
			+ label{
				&:after,&:before{
					border-radius: 50%;
				}
			}
			&:checked{
				& + label{
					&:before{
						animation: borderscale 300ms ease-in;
						background-color: white;
					}
					&:after{
						transform: scale(1);
					}
				}
			}
		}
	}
	label{
		position: relative;
		padding: 5px 5px 5px 2em;
		vertical-align: middle;
		user-select: none;
		cursor: pointer;
		&:before{
			box-sizing: content-box;
			content: '';
			color: #4F8196;
			position: absolute;
			top: 50%;
			left: 0;
			width: 14px;
			height: 14px;
			margin-top: -9px;
			border: 2px solid #4F8196;
			text-align: center;
			transition: all 0.4s ease;
		}
		&:after{
			box-sizing: content-box;
			content: '';
			background-color: #4F8196;
			position: absolute;
			top: 50%;
			left: 4px;
			width: 10px;
			height: 10px;
			margin-top: -5px;
			transform: scale(0);
			transform-origin: 50%;
			transition: transform 200ms ease-out;
		}
	}
}



//fade up
.fade-up{
	opacity: 0;
	transform: translate(0px, 120px);
	transition: transform 1s, opacity 1s;
	&.active{
		transform: translate(0px, 0px);
		opacity: 1;
	}
}