.sec-creative{
	padding: 100px 0 140px;
	@include mq(xl){
		padding: 50px 0 70px;
	}
	@include mq(){
		padding: 50px 0;
	}
	.contents-ttl{
		left: calc((100% - 1000px)/2);
		top: 53px;
		transform: translateX(-45px);
		@include mq(xl){
			top: 14px;
			left: 16px;
			transform: none;
		}
	}
	.contents-subTtl{
		padding: 132px 0 0;
		margin-bottom: 26px;
		@include mq(){
			padding: 50px 0 0;
			margin-bottom: 21px;
		}
		>img{
			width: 72.07%;
			@media screen and (min-width: 1301px){
				width: 937px;
			}
			@include mq(){
				width: 64.07%;
			}
		}
		.en{
			@media screen and (max-width: 1300px){
				width: 73%;
			}
			@include mq(ipd){
				width: 90%;
			}
			@include mq(){
				width: 83%;
			}
		}
	}
}

.creative-block{
	.item{
		padding: 97px 0;
		background: #fafafa;
		@include mq(){
			padding: 52px 0;
		}
		&:nth-child(even){
			background: #fff;
		}
		&-wp{
			display: flex;
			flex-wrap: wrap;
		}
		&__info{
			width: calc(100% - 360px);
			padding-right: 70px;
			padding-left: 70px;
			@include mq(xl){
				padding: 0 30px;
			}
			@include mq(){
				width: 55%;
				padding: 0 20px;
			}
			@include mq(sm){
				width: 100%;
				padding: 0;
				order: 2;
			}
		}
		&__img{
			width: 360px;
			@include mq(){
				width: 45%;
			}
			@include mq(sm){
				width: 100%;
				order: 1;
				margin-bottom: 37px;
			}
		}
		&__ttl{
			position: relative;
			padding-bottom: 10px;
			margin-bottom: 23px;
			@include mq(){
				padding-bottom: 12px;
				margin-bottom: 21px;
			}
			&:after{
				content: "";
				display: block;
				width: 57px;
				height: 2px;
				border-radius: 2px;
				background: #4d4d4d;
				position: absolute;
				bottom: 0;
				left: 0;
				@include mq(){
					width: 62px;
				}
			}
			small{
				display: block;
				@include font-size(18);
				font-weight: 500;
				margin-bottom: 3px;
				letter-spacing: 4.5px;
				@include mq(){
					@include font-size(13);
					letter-spacing: 3px;
					margin-bottom: 1px;
				}
			}
			span{
				display: block;
				font-family: $font-Lovelo;
				@include font-size(40);
				letter-spacing: 4px;
				@include mq(){
					@include font-size(28);
					letter-spacing: 3px;
				}
			}
		}
		.txt-basic{
			line-height: 1.9;
			letter-spacing: 2px;
			font-weight: 500;
			text-align: justify;
			@include mq(){
				line-height: 2;
			}
			p{
				margin-bottom: 40px;
				@include mq(){
					margin-bottom: 17px;
				}
			}
		}
		.box-timeline{
			border-top: 1px solid #b3b3b3;
			letter-spacing: 0;
			@include mq(){
				@include font-size(12);
			}
			p{
				margin-bottom: 0;
				@include mq(){
					display: flex;
				}
				span{
					&:first-of-type{
						margin-right: 10px;
					}
					@include mq(){
						width: calc(100% - 50px);
						&:first-of-type{
							width: 50px;
						}
					}
				}
			}
		}
		.btn{
			width: 100%;
			height: 40px;
			border: 1px solid #000000;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			margin-top: 28px;
			@include mq(){
				max-width: 300px;
				margin: 26px auto 0;
			}
			&:after{
				content: "";
				display: block;
				width: 14px;
				height: 16px;
				background: url("../img/recruit/02/ico-arrow.svg") no-repeat center/cover;
				position: absolute;
				top: 10px;
				right: 43px;
				@include mq(ipd){
					right: 28px;
				}
				@include mq(){
					width: 12px;
					height: 14px;
					top: 12px;
				}
			}
			span{
				@include font-size(18);
				font-weight: 500;
				color: #4d4d4d;
				left: -40px;
				letter-spacing: 4.5px;
				@include mq(ipd){
					letter-spacing: 2.5px;
				}
				@include mq(){
					@include font-size(14);
					letter-spacing: 3.5px;
					left: -12px;
				}
			}
		}
		&:nth-child(even){
			padding: 80px 0;
			@include mq(){
				padding: 54px 0;
			}
			.item-wp{
				padding-left: 70px;
				@include mq(xl){
					padding-left: 0;
				}
			}
			.item__img{
				order: 1;
			}
			.item__info{
				order: 2;
				padding-right: 0;
				padding-left: 70px;
				@include mq(xl){
					padding-left: 30px;
				}
				@include mq(){
					padding-left: 20px;
				}
				@include mq(sm){
					padding-left: 0;
				}
			}
		}
	}
}

.sec-vision{
	padding: 100px 0 80px;
	@include mq(){
		padding: 28px 0 50px;
	}
	.contents-ttl{
		left: calc((100% - 1000px)/2);
		top: 53px;
		transform: translateX(-45px);
		@include mq(xl){
			top: 14px;
			left: 16px;
			transform: none;
		}
	}
	.contents-subTtl{
		padding: 64px 0 0;
		margin-bottom: 26px;
		@include mq(){
			padding: 17px 0 0;
			margin-bottom: 23px;
		}
		>img{
			width: 76.69%;
			@media screen and (min-width: 1301px){
				width: 997px;
			}
			@include mq(){
				width: 62.45%;
			}
			@include mq(sm){
				width: 78.45%;
			}
		}
		.en{
			width: 100%;
		}
	}
	.bg-triangle{
		background: url("../img/recruit/02/bg-triangle.png") no-repeat bottom right/100%;
		padding-bottom: 60px;
		margin-bottom: 120px;
		@include mq(){
			background: none;
			padding-bottom: 0;
			margin-bottom: 67px;
		}
		.inner{
			@include mq(){
				padding: 0;
			}
		}
	}
}

.vision-top-block{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	@include mq(){
		margin: 0;
	}
	.item{
		width: 33.33%;
		padding: 0 15px;
		@include mq(){
			width: 100%;
			margin-bottom: 58px;
			padding: 0 15px 23px 15px;
			background: url("../img/recruit/02/bg-triangle.png") no-repeat bottom right/100%;
		}
		&:last-of-type{
			@include mq(){
				margin-bottom: 0;
			}
		}
		&__ttl{
			text-align: center;
			padding-bottom: 38px;
			margin-bottom: 26px;
			position: relative;
			@include mq(){
				padding-bottom: 27px;
				margin-bottom: 12px;
			}
			&:after{
				content: "";
				display: block;
				height: 20px;
				width: 1px;
				background: #666666;
				position: absolute;
				left: 50%;
				bottom: 0;
			}
			small{
				@include font-size(18);
				font-weight: 500;
				margin-bottom: 8px;
				display: block;
				letter-spacing: 2px;
				@include mq(ipd){
					@include font-size(15);
				}
				@include mq(){
					@include font-size(13);
					letter-spacing: 4px;
					margin-bottom: 0;
				}
			}
			span{
				@include font-size(40);
				display: block;
				font-family: $font-Lovelo;
				letter-spacing: 4px;
				@include mq(ipd){
					@include font-size(30);
				}
				@include mq(){
					@include font-size(28);
					letter-spacing: 3px;
				}
			}
		}
		.txt-lead{
			@include font-size(25);
			font-weight: bold;
			text-align: center;
			line-height: 1.6;
			min-height: 160px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			margin-bottom: 30px;
			letter-spacing: 3px;
			@include mq(ipd){
				@include font-size(18);
				min-height: 100px;
			}
			@include mq(){
				min-height: auto;
				margin-bottom: 13px;
			}
			small{
				@include mq(){
					@include font-size(14);
				}
			}
		}
		.txt-basic{
			font-weight: 500;
			letter-spacing: 1px;
			line-height: 1.9;
			@include mq(){
				line-height: 2;
				text-align: justify;
			}
		}
	}
}

.vision-bottom-block{
	.ttl{
		max-width: 796px;
		width: 100%;
		margin: 0 auto 80px;
		@include mq(){
			max-width: 211px;
			margin-bottom: 46px;
		}
	}
	
	.list-item{
		.item{
			margin-bottom: 60px;
			@include mq(){
				margin-bottom: 60px;
			}
			&:last-of-type{
				margin-bottom: 0;
			}
			&__ttl{
				padding-left: 28px;
				margin-bottom: 30px;
				@include mq(){
					padding-left: 0;
					margin-bottom: 24px;
				}
				img{
					width: auto;
					height: 52px;
					@include mq(){
						height: 35px;
					}
				}
			}
			&__wp{
				display: flex;
				flex-wrap: wrap;
			}
			&__img{
				width: 312px;
				@include mq(){
					width: 45%;
				}
				@include mq(sm){
					width: 100%;
					margin-bottom: 30px;
				}
			}
			&__info{
				width: calc(100% - 312px);
				padding-left: 27px;
				@include mq(){
					width: 55%;
				}
				@include mq(sm){
					width: 100%;
					padding-left: 0;
				}
				.txt-lead{
					@include font-size(20);
					color: #666666;
					font-weight: bold;
					text-align: center;
					margin-bottom: 12px;
					padding: 3px 0;
					line-height: 1;
					letter-spacing: 4px;
					@include mq(){
						@include font-size(18);
						letter-spacing: 3px;
						margin-bottom: 6px;
					}
					&.bg-01{
						background: #e4e0da;
					}
					&.bg-02{
						background: #f2e2e4;
					}
					&.bg-03{
						background: #d8e2e7;
					}
				}
				.txt-basic{
					font-weight: 500;
					line-height: 1.9;
					letter-spacing: 1px;
					text-align: justify;
					@include mq(){
						line-height: 2;
					}
				}
			}
		}
	}
}

.sec-salonlist{
	padding: 100px 0 117px;
	@include mq(){
		padding: 14px 0 50px;
	}
	.contents-ttl{
		left: calc((100% - 1000px)/2);
		top: 53px;
		transform: translateX(-45px);
		@include mq(xl){
			left: 16px;
			top: 14px;
			transform: none;
		}
		img{
			@include mq(){
				position: relative;
				left: 18px;
			}
		}
	}
	.contents-subTtl{
		padding: 42px 0 0;
		margin-bottom: 26px;
		@include mq(){
			padding: 36px 0 0;
			margin-bottom: 23px;
		}
		img{
			@include mq(){
				width: 74.66%;
			}
		}
		.en{
			width: 100%;
			img{
				@media screen and (max-width: 1300px){
					width: 86%;
				}
				@include mq(){
					width: 100%;
				}
			}
		}
	}
}

.txt-intro{
	text-align: center;
	@include font-size(16);
	font-weight: 500;
	line-height: 1.9;
	margin-bottom: 86px;
	letter-spacing: 2.5px;
	@include mq(){
		@include font-size(14);
		line-height: 2;
		margin-bottom: 40px;
	}
}

.salon-block{
	.item{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 100px;
		@include mq(){
			margin-bottom: 57px;
		}
		&:last-of-type{
			margin-bottom: 0;
		}
		&__img{
			width: 262px;
			@include mq(){
				width: 40%;
			}
			@include mq(sm){
				width: 100%;
				display: flex;
				align-items: flex-end;
				margin-bottom: 24px;
			}
			.img{
				@include mq(sm){
					width: calc(100% - 107px);
				}
				img{
					width: 100%;
				}
			}
			.logo{
				display: none;
				@include mq(sm){
					display: block;
					width: 107px;
					text-align: right;
				}
			}
		}
		&__info{
			width: calc(100% - 262px);
			padding-left: 50px;
			position: relative;
			top: -6px;
			@include mq(ipd){
				padding-left: 25px;
			}
			@include mq(){
				width: 60%;
				padding-left: 15px;
			}
			@include mq(sm){
				width: 100%;
				padding-left: 0;
				top: 0;
			}
		}
		&__note{
			@include font-size(18);
			font-weight: 500;
			margin-bottom: 13px;
			letter-spacing: 3.5px;
			@include mq(){
				@include font-size(13);
				letter-spacing: 4px;
				margin-bottom: 5px;
			}
		}
		&__heading{
			padding-bottom: 7px;
			margin-bottom: 20px;
			border-bottom: 1px solid #666666;
			display: flex;
			align-items: flex-end;
			flex-wrap: wrap;
			@include mq(){
				padding-bottom: 18px;
				margin-bottom: 16px;
			}
			.logo{
				width: 100px;
				padding-bottom: 7px;
				@include mq(){
					padding-right: 10px;
				}
				@include mq(sm){
					display: none;
				}
			}
			.txt-heading{
				width: calc(100% - 100px);
				@include font-size(23);
				font-weight: bold;
				letter-spacing: 3px;
				padding-left: 16px;
				line-height: 1.75;
				@include palt();
				text-align: justify;
				@include mq(ipd){
					@include font-size(17);
				}
				@include mq(){
					@include font-size(16);
					padding-left: 0;
					line-height: 1.55;
				}
				@include mq(sm){
					width: 100%;
				}
			}
		}
		&__content{
			.salon-name{
				@include font-size(20);
				font-weight: 500;
				margin-bottom: 15px;
				letter-spacing: 3.5px;
				@include mq(){
					@include font-size(16);
					margin-bottom: 10px;
				}
			}
			dl{
				display: flex;
				flex-wrap: wrap;
				@include font-size(16);
				font-weight: 500;
				margin-bottom: 10px;
				letter-spacing: 3px;
				@include mq(){
					@include font-size(13);
					letter-spacing: 2.5px;
					margin-bottom: 0;
				}
				&:last-of-type{
					margin-bottom: 0;
				}
				dt{
					width: 100px;
					@include mq(){
						width: 70px;
					}
				}
				dd{
					width: calc(100% - 100px);
					padding-left: 28px;
					@include mq(){
						width: calc(100% - 70px);
					}
				}
			}
		}
		&:nth-child(even){
			.item__img{
				order: 2;
				@include mq(sm){
					order: 1;
				}
				.img{
					@include mq(){
						order: 2;
					}
				}
				.logo{
					@include mq(sm){
						order: 1;
						text-align: left;
					}
				}
			}
			.item__info{
				order: 1;
				padding-left: 0;
				padding-right: 50px;
				@include mq(ipd){
					padding-right: 25px;
				}
				@include mq(){
					padding-right: 15px;
				}
				@include mq(sm){
					order: 2;
					padding: 0;
				}
			}
		}
	}
}

.cl{
	&-01{
		color: #d7a7ac;
	}
	&-02{
		color: #cbbf88;
	}
	&-03{
		color: #8ba5b3;
	}
	&-04{
		color: #979797;
	}
	&-05{
		color: #b9966c;
	}
	&-06{
		color: #d4ca9d;
	}
}

.sec-requirement{
	padding: 100px 0 104px;
	@include mq(){
		padding: 50px 0 70px;
	}
	.contents-ttl{
		left: calc((100% - 1000px)/2);
		top: 53px;
		transform: translateX(-45px);
		@include mq(xl){
			left: 16px;
			top: 14px;
			transform: none;
		}
	}
	.contents-subTtl{
		padding: 0;
		margin-bottom: 96px;
		@include mq(){
			margin-bottom: 24px;
		}
		img{
			margin-bottom: -62px;
			@include mq(){
				margin-bottom: -27px;
			}
		}
		span{
			&.jp{
				@include font-size(72);
				text-align: center;
				font-weight: bold;
				letter-spacing: 4px;
				display: block;
				@include mq(){
					@include font-size(30);
					letter-spacing: 3px;
					left: 17px;
					position: relative;
				}
			}
		}
	}
	
	.list-tabs{
		max-width: 650px;
		width: 100%;
		margin: 0 auto 70px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include mq(){
			max-width: 450px;
			margin-bottom: 33px;
		}
		@include mq(sm){
			max-width: 240px;
		}
		.tab-link{
			width: 46.15%;
			height: 50px;
			border: 1px solid #000;
			background: #fff;
			@include font-size(25);
			font-weight: 500;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			@include mq(){
				height: 40px;
				@include font-size(17);
			}
			@include mq(sm){
				width: 100%;
				margin-bottom: 10px;
			}
			span{
				position: relative;
				left: -12px;
				letter-spacing: 4px;
				@include mq(){
					left: 2px;
				}
			}
			&:after{
				content: "";
				display: block;
				width: 20px;
				height: 23px;
				background: url("../img/recruit/02/arrow-tab.svg") no-repeat center/cover;
				position: absolute;
				top: calc(50% - 10px);
				right: 35px;
			}
			&.current{
				background: #b3b3b3;
				color: #fff;
				&:after{
					content: "";
					display: block;
					width: 18px;
					height: 16px;
					background: url("../img/recruit/02/arrow-tab-active.svg") no-repeat center/cover;
					position: absolute;
					top: calc(50% - 8px);
					right: 33px;
				}
			}
		}
	}
	
	.tabs-content{
		border: 6px solid #b3b3b3;
		border-top: 20px solid #b3b3b3;
		display: none;
		@include mq(){
			max-width: 600px;
			margin: 0 auto;
			border: 4px solid #b3b3b3;
			border-top: 14px solid #b3b3b3;
		}
		.wp-inner{
			padding: 70px 150px 63px;
			@include mq(){
				padding: 45px 50px;
			}
			@include mq(sm){
				padding: 27px 15px 22px;
			}
		}
		dl{
			@include font-size(16);
			font-weight: 500;
			margin-bottom: 22px;
			display: flex;
			flex-wrap: wrap;
			@include mq(){
				@include font-size(13);
				margin-bottom: 0;
			}
			&:last-of-type{
				margin-bottom: 0;
			}
			dt{
				width: 125px;
				font-weight: bold;
				letter-spacing: 3px;
				@include mq(){
					width: 85px;
					line-height: 2;
				}
			}
			dd{
				width: calc(100% - 125px);
				letter-spacing: 2px;
				@include mq(){
					width: calc(100% - 85px);
					line-height: 2;
				}
				span{
					@include font-size(14);
					display: block;
					@include mq(){
						@include font-size(10);
					}
				}
			}
		}
		&.current{
			display: inherit;
		}
	}
}


.sec-flow{
	background: #f4f4f4;
	padding: 56px 0 77px;
	@include mq(){
		padding-bottom: 48px;
	}
}

.flow-block{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -25px;
	@include mq(){
		margin: 0;
		padding: 0 20px;
	}
	.item{
		width: 33.33%;
		padding: 0 25px;
		position: relative;
		@include mq(){
			width: 100%;
			padding: 0;
			margin-bottom: 38px;
		}
		&:last-of-type{
			@include mq(){
				margin-bottom: 0;
			}
		}
		&:after{
			content: "";
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 14px 0 14px 19px;
			border-color: transparent transparent transparent #fff;
			position: absolute;
			top: 12px;
			right: -12px;
			@include mq(){
				display: none;
			}
		}
		&-wp{
			border: 1px solid #808080;
			background: #fff;
			padding: 57px 23px 32px;
			position: relative;
			min-height: 300px;
			@include mq(){
				min-height: auto;
				padding: 34px 22px 29px;
			}
			&:before{
				content: "";
				display: block;
				width: 28px;
				height: 28px;
				background: url("../img/recruit/02/corner-01.png") no-repeat center/cover;
				position: absolute;
				top: -1px;
				right: -1px;
				@include mq(){
					width: 23px;
					height: 23px;
				}
			}
			&:after{
				content: "";
				display: block;
				width: 28px;
				height: 28px;
				background: url("../img/recruit/02/corner-02.png") no-repeat center/cover;
				position: absolute;
				left: -1px;
				bottom: -1px;
				@include mq(){
					width: 23px;
					height: 23px;
				}
			}
		}
		&__number{
			font-family: $font-Lovelo;
			@include font-size(40);
			line-height: 1;
			position: absolute;
			top: -21px;
			left: 55px;
			letter-spacing: 4px;
			@include mq(){
				@include font-size(27);
				top: -16px;
				left: 27px;
			}
			span{
				position: relative;
				z-index: 2;
			}
			&:after{
				content: "";
				display: block;
				width: 33px;
				height: 3px;
				background: #4d4d4d;
				position: absolute;
				bottom: -10px;
				left: 7px;
				@include mq(){
					width: 23px;
					bottom: -7px;
					left: 6px;
				}
			}
			&:before{
				content: "";
				display: block;
				width: 75px;
				height: 1px;
				background: #f4f4f4;
				position: absolute;
				top: 20px;
				left: 50%;
				transform: translateX(-50%);
				z-index: 0;
				@include mq(){
					width: 48px;
					top: 15px;
				}
			}
		}
		.txt-basic{
			font-weight: 500;
			line-height: 1.9;
			text-align: justify;
			@include palt;
			letter-spacing: 3px;
			@include mq(){
				line-height: 2;
				letter-spacing: 2px;
			}
		}
		&:last-of-type{
			&:after{
				display: none;
			}
		}
	}
}

.ttl-flow{
	text-align: center;
	margin-bottom: 43px;
	@include mq(){
		margin-bottom: 44px;
	}
	small{
		display: block;
		@include font-size(18);
		font-weight: 500;
		margin-bottom: 15px;
		letter-spacing: 5px;
		@include mq(){
			@include font-size(13);
			letter-spacing: 4px;
			margin-bottom: 0;
		}
	}
	span{
		display: block;
		font-family: $font-Lovelo;
		@include font-size(40);
		letter-spacing: 5px;
		@include mq(){
			@include font-size(27);
			letter-spacing: 3px;
		}
	}
}

.sec-instagram{
	padding: 112px 0 205px;
	@include mq(ipd){
		padding: 80px 0 100px;
	}
	@include mq(){
		padding: 57px 0;
	}
	.instagram-heading{
		text-align: center;
		margin-bottom: 20px;
		@include mq(){
			margin-bottom: 17px;
		}
		small{
			@include font-size(18);
			font-weight: 500;
			display: block;
			margin-bottom: 14px;
			letter-spacing: 3.5px;
			@include mq(){
				@include font-size(13);
				margin-bottom: 7px;
			}
		}
		.ttl{
			span{
				display: block;
				&.en{
					font-family: $font-Lovelo;
					@include font-size(40);
					margin-bottom: 23px;
					letter-spacing: 4px;
					@include mq(){
						@include font-size(27);
						letter-spacing: 3px;
						margin-bottom: 18px;
					}
				}
				&.jp{
					@include font-size(22);
					font-weight: 500;
					letter-spacing: 2px;
					@include mq(){
						@include font-size(13);
					}
				}
			}
		}
	}
	
	.img-block{
		max-width: 842px;
		width: 100%;
		margin: 0 auto 70px;
		@include mq(){
			margin-bottom: 28px;
		}
	}
	
	.btn-sns{
		max-width: 500px;
		height: 70px;
		width: 100%;
		margin: 0 auto 82px;
		border: 1px solid #666666;
		display: flex;
		align-items: center;
		justify-content: center;
		@include mq(){
			max-width: 300px;
			height: 40px;
			margin-bottom: 50px;
		}
		span{
			font-family: $font-Lovelo;
			@include font-size(28);
			color: #333333;
			display: flex;
			align-items: center;
			letter-spacing: 2.5px;
			@include mq(){
				@include font-size(16);
				letter-spacing: 1px;
			}
			img{
				margin-right: 10px;
				@include mq(){
					width: 14px;
					margin-right: 5px;
				}
				&:last-of-type{
					margin-right: 0;
					margin-left: 30px;
					@include mq(){
						width: 14px;
						margin-left: 20px;
					}
				}
			}
		}
	}
}

.entry-block{
	.sns-line-top{
		display: block;
		margin-bottom: 34px;
		@include mq(){
			margin-bottom: 25px;
		}
	}
	.ttl-entry{
		@include font-size(30);
		font-weight: bold;
		text-align: center;
		margin-bottom: 14px;
		letter-spacing: 2px;
		@include mq(){
			@include font-size(16);
			letter-spacing: 1px;
			margin-bottom: 6px;
		}
	}
	.box-phone{
		text-align: center;
		letter-spacing: 10px;
		margin-bottom: 17px;
		@include mq(){
			letter-spacing: 4px;
		}
		a{
			font-family: $font-Lovelo;
			@include font-size(95);
			color: #d7a7ac;
			display: block;
			line-height: 1;
			@include mq(xl){
				@include font-size(65);
			}
			@include mq(){
				@include font-size(40);
			}
			img{
				position: relative;
				top: -7px;
				left: 5px;
				@include mq(){
					top: -3px;
					left: -3px;
				}
			}
		}
	}
	.txt-entry{
		@include font-size(22);
		font-weight: 500;
		text-align: center;
		margin-bottom: 35px;
		letter-spacing: 2px;
		@include mq(){
			@include font-size(13);
			margin-bottom: 15px;
		}
		span{
			background: #f0edea;
		}
	}
}