.sec-mv01 {
	padding: 106px 0 73px;
	@include mq {
		padding: 94px 0 70px;
	}
	.inner {
		position: relative;
		@include mq(sm) {
			padding: 0 0 77px;
		}
	}
}
.mv {
	&-img {
		position: relative;
		@include mq(sm) {
			width: 80%;
			margin: 0 auto;
		}
		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(#ededed, 0.38);
		}
		img {
			display: block;
			width: 100%;
		}
	}
	&-content {
		position: absolute;
		bottom: 0;
		left: 18px;
		right: 18px;
		padding: 79px 15px 37px 92px;
		background-image: url("../img/recruit/mv-bg.png");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		@include mq(lg) {
			padding: 79px 15px 37px 40px;
		}
		@include mq(sm) {
			left: 0;
			right: 0;
			padding: 85px 12px 21px;
		}
	}
	&-ttl {
		font-family: $font-Lovelo;
		@include font-size(60);
		line-height: 1;
		margin: 0 0 9px -2px;
		letter-spacing: 6px;
		display: flex;
		@include mq(lg) {
			@include font-size(50);
		}
		@include mq(sm) {
			@include font-size(40);
			justify-content: flex-end;
			margin: 0;
			letter-spacing: 4px;
		}
		> * {
			position: relative;
			&:before {
				position: absolute;
				content: '';
				height: 2px;
				width: 127px;
				right: calc(100% + 33px);
				top: calc(50% - 1px);
				background: #4d4d4d;
				@include mq(lg) {
					right: calc(100% + 15px);
				}
				@include mq(sm) {
					right: calc(100% + 25px);
					width: 100vw;
				}
			}
		}
	}
	&-txt {
		@include font-size(20);
		font-weight: 500;
		line-height: 1.7;
		@include palt;
		letter-spacing: 6px;
		@include mq(lg) {
			@include font-size(18);
		}
		@include mq(sm) {
			@include font-size(16);
			position: absolute;
			line-height: 1.75;
			top: -28px;
			left: 18px;
		}
	}
}

.sec-anchor {
	margin-bottom: 67px;
	@include mq {
		margin-bottom: 42px;
	}
}
.anchor {
	&-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		@include mq(sm) {
			margin: 0 -5px;
		}
		.item {
			width: 20%;
			padding: 0 15px;
			margin-bottom: 30px;
			@include mq(lg) {
				width: 33.33%;
			}
			@include mq(sm) {
				width: 50%;
				padding: 0 5px;
				margin-bottom: 10px;
				&:last-child {
					width: 100%;
					.btn-comp04 {
						background: #8BA5B3;
						border-color: #8BA5B3;
						@include font-size(16);
						letter-spacing: 4.5px;
					}
				}
			}
		}
	}
}

.sec-contents {

}
.contents {
	&-box {
		position: relative;
		&.box01 {
			margin-bottom: 244px;
			@include mq(ipd) {
				margin-bottom: 150px;
			}
			@include mq {
				margin-bottom: 66px;
			}
		}
		&.box02 {
			margin-bottom: 205px;
		}
		&.box03 {
			margin-bottom: 343px;
		}
		&.box04 {
			position: relative;
			z-index: 1;
			padding-bottom: 94px;
			margin-bottom: 109px;
			&:before {
				position: absolute;
				content: '';
				z-index: -1;
				top: -140px;
				bottom: 0;
				width: 100vw;
				left: 50%;
				transform: translateX(-50%);
				background: #fafafa;
			}
		}
		&.box05 {
			margin-bottom: 177px;
		}
	}
	&-ttl {
		position: absolute;
		font-family: $font-Lovelo;
		color: #666666;
		@include font-size(15);
		line-height: 1;
		letter-spacing: 6px;
		padding-top: 85px;
		top: 0;
		left: -42px;
		z-index: 2;
		@include mq(xl) {
			left: -15px;
		}
		@include mq {
			left: -2px;
			@include font-size(12);
			letter-spacing: 4.8px;
			padding-top: 59px;
		}
		&:before {
			position: absolute;
			content: '';
			width: 2px;
			height: 64px;
			background: #666666;
			top: 0;
			left: calc(50% - 1px);
			@include mq {
				height: 45px;
				left: calc(50% - 2px);
			}
		}
		.inn {
			writing-mode: vertical-rl;
			text-orientation: mixed;
		}
	}
	&-subTtl {
		position: relative;
		text-align: center;
		z-index: 1;
		.en {
			position: absolute;
			z-index: -1;
			left: 50%;
			transform: translateX(-50%);
			top: 0;
			width: 106vw;
			text-align: center;
		}
		& + * {
			position: relative;
			z-index: 1;
		}
	}
	&-subTtl02 {
		position: relative;
		text-align: center;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		@include font-size(23);
		font-weight: 500;
		line-height: 1;
		padding-top: 54px;
		@include palt;
		letter-spacing: 5.7px;
		color: #333333;
		&:before {
			position: absolute;
			content: '';
			width: 100vw;
			left: 50%;
			transform: translateX(-50%);
			top: 0;
			bottom: 23px;
			background: #f4f4f4;
		}
		.cnt {
			position: relative;
			background: white;
			width: 100%;
			max-width: 746px;
			padding: 13px 10px 9px;
			&:before, &:after {
				position: absolute;
				content: '';
				border: 1px solid #999999;
			}
			&:before {
				top: 0;
				bottom: 0;
				left: 5px;
				right: 5px;
			}
			&:after {
				left: 0;
				right: 0;
				top: 5px;
				bottom: 5px;
			}
		}
	}
	&-des {
		@include font-size(16);
		font-weight: 500;
		line-height: 1.9;
		text-align: center;
		margin-bottom: 88px;
		@include palt;
		letter-spacing: 3.1px;
	}
	&-ttl02 {
		text-align: center;
		margin-bottom: 19px;
		.jp {
			display: inline-block;
			padding: 0 40px;
			position: relative;
			@include font-size(18);
			line-height: 1.4;
			font-weight: 500;
			letter-spacing: 3.3px;
			margin-bottom: 21px;
			&:before, &:after {
				position: absolute;
				content: '';
				top: -5px;
				width: 17px;
				height: 25px;
				background-image: url("../img/recruit/ico-ttl.png");
				background-repeat: no-repeat;
				background-size: cover;
			}
			&:before {
				left: 0;
			}
			&:after {
				right: 0;
				transform: scaleX(-1);
			}
		}
		.en {
			display: block;
			font-family: $font-Lovelo;
			@include font-size(40);
			line-height: 1;
			letter-spacing: 4px;
		}
	}
}

.retention {
	&-box {
		padding-top: 112px;
		position: relative;
		z-index: 1;
		@include mq {
			padding-top: 59px;
		}
		&:before {
			position: absolute;
			content: '';
			background: #e6e6e6;
			top: 37px;
			width: 100vw;
			left: 50%;
			transform: translateX(-50%);
			height: 559px;
			z-index: -1;
			@include mq(ipd) {
				height: 60vw;
			}
			@include mq {
				top: 0;
			}
			@include mq(sm) {
				height: 151vw;
			}
		}
	}
	&-ttl {
		text-align: center;
		padding: 0 0 25px 40px;
		@include mq(sm) {
			padding: 0 39px 33px 51px;
		}
	}
	&-f {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 70px;
		@include mq {
			margin-bottom: 80px;
		}
		&__txt {
			width: calc(41% + 16px);
			margin-left: -16px;
			padding-right: 15px;
			@include mq(sm) {
				width: 100%;
				margin: 0;
				padding: 0;
			}
		}
		&__img {
			width: 59%;
			padding: 24px 0 0 0;
			@include mq(sm) {
				width: 100%;
				padding: 0 19px 39px 20px;
			}
			img {
				display: block;
				width: 100%;
			}
		}
	}
	&-list {
		&__item {
			display: flex;
			align-items: center;
			margin-bottom: 24px;
			@include mq(sm) {
				flex-wrap: wrap;
				margin-bottom: 57px;
			}
			&:last-child {
				margin-bottom: 0;
			}
			&:nth-child(even) {
				flex-direction: row-reverse;
				.retention-list {
					&__img {
						&:before {
							right: auto;
							left: 48.4%;
							@include mq(sm-min) {
								top: -10px;
								bottom: -13px;
							}
						}
					}
				}
			}
		}
		&__img {
			width: 155px;
			min-width: 155px;
			position: relative;
			z-index: 1;
			@include mq() {
				width: 120px;
				min-width: 120px;
			}
			@include mq(sm) {
				width: 162px;
				min-width: 162px;
				margin: 0 auto 24px;
			}
			img {
				display: block;
				width: 100%;
				@include ob;
			}
			&:before {
				position: absolute;
				content: '';
				z-index: -1;
				background: #f2f2f2;
				width: 100vw;
				right: 50%;
				top: -7px;
				bottom: -17px;
				@include mq(sm) {
					top: -25px;
					bottom: 25px;
					left: 48.7%;
				}
			}
		}
		&__cnt {
			padding: 0 0 0 73px;
			min-width: 493px;
			@include mq(lg) {
				padding-left: 50px;
			}
			@include mq {
				min-width: auto;
			}
			@include mq(sm) {
				width: 100%;
				padding: 0;
			}
		}
		&__ttl {
			@include font-size(27);
			font-weight: 500;
			line-height: 1.65;
			@include palt;
			letter-spacing: 2.7px;
			padding-left: 1px;
			position: relative;
			margin-bottom: 6px;
			@include mq(lg) {
				@include font-size(23);
			}
			@include mq(sm) {
				@include font-size(20);
				padding-left: 42px;
				letter-spacing: 2px;
			}
			@include mq(xs) {
				@include font-size(18);
				letter-spacing: 1px;
			}
			&:before {
				position: absolute;
				content: '';
				width: 30px;
				height: 22px;
				background-image: url("../img/recruit/retention-vol.png");
				background-repeat: no-repeat;
				background-size: cover;
				right: calc(100% + 10px);
				top: 10px;
				@include mq {
					top: 5px;
					right: calc(100% + 5px);
				}
				@include mq(sm) {
					right: auto;
					left: 3px;
					width: 31px;
					height: 23px;
				}
			}
			> * {
				background-image: linear-gradient(to right, #ffffd0 50%, transparent 50%);
				background-size: 200% 100%;
				background-repeat: no-repeat;
				background-position: left 0 bottom 0;
			}
		}
		&__txt {
			@include font-size(16);
			font-weight: 500;
			line-height: 1.625;
			@include palt;
			letter-spacing: 3.5px;
			@include mq {
				@include font-size(14);
				line-height: 2;
				letter-spacing: 3.2px;
			}
			@include mq(xs) {
				@include font-size(12);
				letter-spacing: 2px;
			}
		}
	}
}

.beneeit {
	&-box {
		padding-top: 98px;
		@include mq {
			padding-top: 79px;
		}
	}
	&-ttl {
		padding: 0 2px 99px 0;
		@include mq(lg) {
			padding-left: 30px;
		}
		@include mq(sm) {
			padding: 0 17px 64px 15px;
		}
		.en {
			top: -67px;
			@include mq(sm) {
				top: -38px;
				width: 74.4vw;
				padding-left: 4px;
			}
		}
	}
	&-list {
		&__item {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			margin-bottom: 101px;
			@include mq(sm) {
				margin-bottom: 61px;
			}
			&:nth-child(even) {
				flex-direction: row-reverse;
				@include mq(sm-min) {
					margin-bottom: 26px;
				}
				.beneeit-list {
					@include mq(lg-min) {
						&__img {
							padding-top: 62px;
						}
					}
					@include mq(sm-min) {
						&__cnt {
							padding-top: 0;
							margin: 0 -36px 0 0;
						}
					}
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__img {
			width: 50%;
			position: relative;
			z-index: 2;
			@include mq(sm) {
				width: 87%;
				position: relative;
			}
			img {
				display: block;
				width: 100%;
			}
		}
		&__cnt {
			width: calc(50% + 36px);
			margin-left: -36px;
			padding-top: 154px;
			@include mq(lg) {
				padding-top: 100px;
			}
			@include mq(sm) {
				width: 100%;
				margin: -32px 0 0;
				padding: 0;
			}
			img {
				display: block;
				width: 100%;
			}
		}
	}
	&-inn {
		&__list {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -15px;
			@include mq(sm) {
				margin: 0;
			}
			.item {
				width: 25%;
				padding: 0 15px;
				@include mq(sm) {
					width: 50%;
					padding: 0 10px;
					margin-bottom: 22px;
				}
			}
		}
	}
	&-person {
		margin: -86px 0 69px 0;
		padding: 0 60px;
		@include mq(lg) {
			margin-top: -20px;
		}
		@include mq(sm) {
			margin: 57px 0 30px;
			padding: 0 29px 0 8px;
		}
	}
}

.curriculum {
	&-box {
		padding-top: 53px;
	}
	&-ttl {
		margin-bottom: 27px;
		.en {
			top: -36px;
		}
	}
}

.academy {
	&-box {
		padding-top: 67px;
	}
	&-ttl {
		margin-bottom: 23px;
		.en {
			padding-left: 10px;
			top: -74px;
		}
	}
	&-f {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 98px;
		.l {
			width: 63.9%;
			padding: 0 23px;
			max-width: 590px;
			margin-left: auto;
			.contents-des {
				text-align: left;
				width: 100%;
				max-width: 510px;
				margin-bottom: 67px;
			}
			.img {
				width: 100%;
				max-width: 361px;
				margin-left: auto;
			}
		}
		.r {
			width: 36.1%;
			padding: 23px 0 0 0;
		}
	}
	&-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -16px 50px;
		&__item {
			width: 33.33%;
			padding: 0 16px;
			margin-bottom: 32px;
			.contents-des {
				text-align: justify;
				margin: 0 -3px 0 0;
			}
		}
		&__ttl {
			@include font-size(20);
			font-weight: bold;
			line-height: 1.55;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			letter-spacing: 2.5px;
			margin-bottom: 32px;
		}
		&__img {
			margin-bottom: 21px;
		}
	}
	&-moreover {
		margin-bottom: 57px;
	}
	&-list02 {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px 58px;
		text-align: center;
		&__item {
			width: 20%;
			padding: 0 15px;
			margin-bottom: 30px;
			.contents-des {
				margin: 0 -5px;
				letter-spacing: 2px;
			}
		}
		&__ttl {
			@include font-size(20);
			font-weight: 500;
			line-height: 1.5;
			margin-bottom: 18px;
			letter-spacing: 4px;
		}
		&__img {
			margin-bottom: 26px;
			img {
				display: block;
				width: 100%;
			}
		}
		&__logo {
			margin-bottom: 25px;
		}
	}
	&-txt {
		background: white;
		position: relative;
		&:before, &:after {
			position: absolute;
			content: '';
			background: #fafafa;
		}
		&:before {
			bottom: 3px;
			left: 0;
			right: 3px;
			height: 7px;
		}
		&:after {
			top: 0;
			bottom: 3px;
			right: 3px;
			width: 7px;
		}
		.txt {
			position: relative;
			z-index: 2;
			padding: 51px 21% 59px 35px;
			&:before {
				position: absolute;
				content: '';
				top: 0;
				left: 49.7%;
				transform: translateX(-50%);
				border-top: 30px solid #fafafa;
				border-left: 75px solid transparent;
				border-right: 75px solid transparent;
			}
		}
		.person {
			position: absolute;
			z-index: 1;
			bottom: 1px;
			right: 1px;
			width: 33.9%;
		}
	}
}

.career {
	&-box {
		padding-top: 41px;
	}
	&-ttl {
		margin-bottom: 34px;
		.en {
			top: -42px;
			padding-right: 6px;
		}
	}
	&-ttl02 {
		margin-bottom: 110px;
	}
	&-list {
		margin-bottom: 150px;
		&__item {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 115px;
			&:nth-child(odd) {
				flex-direction: row-reverse;
				.career-list {
					&__cnt {
						margin-left: initial;
						margin-right: auto;
					}
				}
			}
			&:nth-child(3n+2) {
				.career-list {
					&__ttl {
						background: #d7a7ac;
					}
				}
			}
			&:nth-child(3n+3) {
				.career-list {
					&__ttl {
						background: #d4ca9d;
					}
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
			.contents-des {
				text-align: left;
				margin-bottom: 0;
			}
		}
		&__img {
			width: 45%;
		}
		&__cnt {
			width: calc(55% - 15px);
			margin-left: auto;
			max-width: 500px;
			margin-top: 91px;
			position: relative;
			&:before, &:after {
				position: absolute;
				content: '';
				pointer-events: none;
				border: #354756 solid;
				width: 34px;
				height: 34px;
			}
			&:before {
				top: -1px;
				left: -1px;
				border-width: 2px 0 0 2px;
			}
			&:after {
				border-width: 0 2px 2px 0;
				right: -1px;
				bottom: -1px;
			}
		}
		&__ttl {
			background: #8ba5b3;
			color: white;
			display: flex;
			align-items: center;
			line-height: 1;
			padding: 17px 10px 13px 28px;
			white-space: nowrap;
			.plan {
				font-family: $font-Lovelo;
				@include font-size(15);
				letter-spacing: 6px;
				margin-top: 1px;
				width: 115px;
			}
			.txt {
				font-weight: bold;
				@include font-size(35);
				letter-spacing: 3.5px;
			}
		}
		&__inn {
			background-image: url("../img/recruit/career-bg.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			padding: 27px 10px 36px 25px;
			min-height: 170px;
		}
		&__lg {
			@include font-size(25);
			font-weight: 500;
			line-height: 1.2;
			@include palt;
			letter-spacing: 5px;
			margin-bottom: 17px;
		}
	}
	&-lifestyle {
		position: relative;
		z-index: 1;
		padding: 12px 25px 46px;
		&:before {
			position: absolute;
			content: '';
			top: 129px;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			background: #f2e2e4;
		}
		&__f {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 22px;
		}
		&__img {
			width: 48.43%;
			border: 2px solid #f2e2e4;
		}
		&__r {
			width: 51.57%;
			padding: 84px 0 0 30px;
			.contents-des {
				text-align: left;
				background: white;
				border: 2px solid #f2e2e4;
				margin: 22px 0 0 0;
				padding: 17px 15px 23px 22px;
				letter-spacing: 2.2px;
				color: #4d4d4d;
			}
		}
		&__list {
			color: #666666;
			.item {
				background: white;
				border: 2px solid #f2e2e4;
				padding: 16px 10px 16px 37px;
				@include palt;
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
				.ico {
					margin-right: 12px;
					vertical-align: 8px;
				}
				.ttl {
					@include font-size(35);
					font-weight: bold;
					line-height: 1;
					letter-spacing: 3.6px;
					color: #d7a7ac;
					margin-right: 7px;
					&:last-child {
						margin-right: 0;
					}
				}
				.txt {
					@include font-size(18);
					font-weight: 500;
					line-height: 1.6;
					letter-spacing: 1.8px;
					vertical-align: 4px;
				}
			}
		}
	}
}

.inquiry {
	&-box {
		&--01 {
			padding: 147px 0 135px;
			position: relative;
			z-index: 1;
			margin-bottom: 55px;
			&:before {
				position: absolute;
				content: '';
				top: -45px;
				width: 100vw;
				left: 50%;
				transform: translateX(-50%);
				bottom: 0;
				background: #fafafa;
			}
		}
	}
	&-ttl {
		margin-bottom: 26px;
		.en {
			top: -131px;
			padding-left: 30px;
		}
	}
	&-ttl02 {
		margin-bottom: 45px;
		&:before {
			display: none;
		}
		.cnt {
			padding: 16px 10px 11px;
		}
	}
	&-cnt {
		position: relative;
		.img {
			margin: 0 0 67px -50px;
		}
		.container {
			background: white;
			padding: 42px 190px 39px 48px;
			position: relative;
			.ttl {
				@include font-size(25);
				font-weight: bold;
				line-height: 1.24;
				z-index: 1;
				@include palt;
				letter-spacing: 3.8px;
				margin-bottom: 18px;
				> * {
					background-image: linear-gradient(to right, #e6e0c6 50%, transparent 50%);
					background-size: 200% 6px;
					background-repeat: no-repeat;
					background-position: left 0 bottom 2px;
				}
			}
			.contents-des {
				position: relative;
				z-index: 1;
				text-align: left;
				letter-spacing: 1.3px;
				margin: 0;
			}
			.person01 {
				position: absolute;
				bottom: calc(100% - 80px);
				left: 294px;
			}
			.person02 {
				position: absolute;
				bottom: -54px;
				right: 13px;
			}
		}
	}
}

.anue {
	&-box {
		position: relative;
		z-index: 1;
		padding-bottom: 63px;
		&:before {
			position: absolute;
			content: '';
			top: 43px;
			width: 100vw;
			left: 50%;
			transform: translateX(-50%);
			bottom: 0;
			background: #fafafa;
			z-index: -1;
		}
	}
	&-ttl {
		position: relative;
		text-align: center;
		z-index: 1;
		padding-top: 71px;
		margin-bottom: 48px;
		.jp {
			@include font-size(25);
			font-weight: bold;
			line-height: 1.24;
			@include palt;
			letter-spacing: 3.2px;
		}
		.en {
			position: absolute;
			top: 0;
			left: 50%;
			width: 100vw;
			transform: translateX(-50%);
			z-index: -1;
			padding-right: 6px;
		}
	}
	&-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px 26px;
		.item {
			width: 20%;
			padding: 0 10px;
			margin-bottom: 17px;
		}
	}
}
