/* ====================================================
Font
==================================================== */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');
@font-face {
	font-family: 'Avenir-Light';
	src: url('../fonts/Avenir-Light.eot');
	src: url('../fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Avenir-Light.woff2') format('woff2'),
	url('../fonts/Avenir-Light.woff') format('woff'),
	url('../fonts/Avenir-Light.ttf') format('truetype'),
	url('../fonts/Avenir-Light.svg#Avenir-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Avenir-Medium';
	src: url('../fonts/Avenir-Medium.eot');
	src: url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Avenir-Medium.woff2') format('woff2'),
	url('../fonts/Avenir-Medium.woff') format('woff'),
	url('../fonts/Avenir-Medium.ttf') format('truetype'),
	url('../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'Avenir-heavy';
	src: url('../fonts/Avenir-Heavy.eot');
	src: url('../fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Avenir-Heavy.woff2') format('woff2'),
	url('../fonts/Avenir-Heavy.woff') format('woff'),
	url('../fonts/Avenir-Heavy.ttf') format('truetype'),
	url('../fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'KozGoPr6N-Rg';
	src: url('../fonts/KozGoPr6N-Regular-AlphaNum.eot');
	src: url('../fonts/KozGoPr6N-Regular-AlphaNum.eot?#iefix') format('embedded-opentype'),
	url('../fonts/KozGoPr6N-Regular-AlphaNum.woff2') format('woff2'),
	url('../fonts/KozGoPr6N-Regular-AlphaNum.woff') format('woff'),
	url('../fonts/KozGoPr6N-Regular-AlphaNum.ttf') format('truetype'),
	url('../fonts/KozGoPr6N-Regular-AlphaNum.svg#KozGoPr6N-Regular-AlphaNum') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lovelo-Black';
	src: url('../fonts/Lovelo-Black.eot');
	src: url('../fonts/Lovelo-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Lovelo-Black.svg#Lovelo-Black') format('svg'),
	url('../fonts/Lovelo-Black.ttf') format('truetype'),
	url('../fonts/Lovelo-Black.woff') format('woff'),
	url('../fonts/Lovelo-Black.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CenturyGothic';
	src: url('../fonts/CenturyGothic.ttf');
	src: url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg'),
	url('../fonts/century-gothic-regualar.eot'),
	url('../fonts/CenturyGothic.otf') format('truetype'),
	url('../fonts/CenturyGothic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}



$font-Yugothic: "游ゴシック体", "Yu Gothic", YuGothic,"ヒラギノ角ゴPro W3","Hiragino Kaku Gothic Pro", Osaka,"Meiryo","メイリオ","MS Pゴシック",Arial, Helvetica, Verdana,sans-serif;
$font-notoJp: 'Noto Sans JP', sans-serif;
$font-Notoserif :'Noto Serif JP', serif;
$font-AvenirM :'Avenir-Medium', serif;
$font-AvenirL :'Avenir-Light', serif;
$font-AvenirH :'Avenir-heavy', serif;
$font-KozGoPr6N-Rg :'KozGoPr6N-Rg', serif;
$font-Lovelo :'Lovelo-Black', sans-serif;
$font-CenturyGothic: 'CenturyGothic', sans-serif;



@mixin font-size($sizeValue) {
	//font-size: ($sizeValue) + px;
	font-size: ($sizeValue / 10) + rem;
}

@mixin ob {
	object-fit: cover;
	font-family: 'object-fit: cover';
}


@mixin palt {
	font-feature-settings: "palt" 1;
}


@function vw($element-size) {
	$vwSize: ($element-size / 1024) * 100;
	@return #{$vwSize}vw;
}

@mixin ie{
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		@content;
	}
}


@mixin v-align {
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}

@mixin h-align {
	left: 50%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
}

@mixin v-h-align {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

@mixin smooth-transition {
	-webkit-backface-visibility: hidden;
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}



/* ====================================================
Media Quary
==================================================== */
@mixin mq($breakpoint: md) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

$breakpoint-sm: 640px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 990px !default;

$breakpoints: (
		'xs': 'screen and (max-width: 374px)',
		'sm': 'screen and (max-width: 640px)',
		'md': 'screen and (max-width: 834px)',
		'lg': 'screen and (max-width: 990px)',
		'ipd': 'screen and (max-width: 1024px)',
		'xl': 'screen and (max-width: 1245px)',
		'lp': 'screen and (max-width: 1440px)',
		'mac': 'screen and (max-width: 1770px)',
		'xs-min': 'screen and (min-width: 375px)',
		'sm-min': 'screen and (min-width: 641px)',
		'md-min': 'screen and (min-width: 835px)',
		'lg-min': 'screen and (min-width: 991px)',
		'ipd-min': 'screen and (min-width: 1025px)',
		'xl-min': 'screen and (min-width: 1246px)',
) !default;


//marginPC and SP
@for $i from 1 through 100 {
	@include mq(md-min){
		.mbpc-#{$i} {
			margin-bottom: $i + px !important;
		}
	}
	@include mq(){
		.mbsp-#{$i} {
			margin-bottom: $i + px !important;
		}
	}
}
.mb0{
	margin-bottom: 0 !important;
}