<footer id="footer">
	<div class="inner">
		<p id="backtop">
			<a href="" class="backtop">
				<span>
					TOP
				</span>
			</a>
		</p>
		
	</div>
	
		<div class="footer-t">
			<div class="inner">
<!--			<ul class="list-links pc">-->
<!--				<li class="item">-->
<!--					<a href="">HOME</a>-->
<!--				</li>-->
<!--				<li class="item">-->
<!--					<a href="">SITEMAP</a>-->
<!--				</li>-->
<!--				<li class="item">-->
<!--					<a href="">PRIVACY POLICY</a>-->
<!--				</li>-->
<!--			</ul>-->
			<ul class="list-links">
				<li class="item">
					<a href="">HOME</a>
				</li>
				<li class="item">
					<a href="">PRIVACY POLICY</a>
				</li>
				<li class="item">
					<a href="">SITEMAP</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer-bt">
		<div class="inner">
			<span>
				COPYRIGHT &copy; anuenue ALL RIGHTS RESERVED.
			</span>
		</div>
	</div>
</footer>