<header id="header">
	<div class="inner inner-1140">
		<div class="header">
			<div class="header-l">
				<a href="<%= RELATIVE_PATH %>" class="logo">
					<img src="<%= RELATIVE_PATH %>img/common/img-logo.png" alt="anuenue">
				</a>
			</div>
			<div class="header-r">
				<div class="line-calendar pc">
					<div class="line">
						<a href="" target="_blank">
							<img src="<%= RELATIVE_PATH %>img/common/img-line.png" alt="line">
						</a>
					</div>
					<div class="reserve">
						<a href="">
						<span class="img">
							<span class="gray">
								<img src="<%= RELATIVE_PATH %>img/common/img-calendar.png" alt="RESERVE">
							</span>
							<span class="white">
								<img src="<%= RELATIVE_PATH %>img/common/img-calendar-w.png" alt="RESERVE">
							</span>
						</span>
							<span class="txt en">
							RESERVE
						</span>
						</a>
					</div>
				</div>
				<div class="box-menu">
					<nav class="nav-menu">
						<div class="ttl-logo">
							<a href="<%= RELATIVE_PATH %>" class="logo">
								<img src="<%= RELATIVE_PATH %>img/common/img-logo--w.png" alt="anuenue">
							</a>
						</div>
						<div class="nav-menumain">
							<div class="nav-menumaint">
								<ul class="list-menu">
									<li class="item">
										<ul class="list-menusub">
											<li class="item-menusub">
												<a href="<%= RELATIVE_PATH %>concept">
													<span class="l"><span class="en">CONCEPT</span></span>
													<span class="r jp">コンセプト</span>
												</a>
											</li>
											<li class="item-menusub">
												<a href="<%= RELATIVE_PATH %>about">
													<span class="l"><span class="en">ABOUT</span></span>
													<span class="r jp"><span class="en">anuenue</span>とは</span>
												</a>
											</li>
											<li class="item-menusub">
												<div class="jssub">
													<span class="l">
														<span class="en">SHOP</span>
													</span>
													<span class="r jp">ショップリスト</span>
												</div>
												<ul class="list-menusub01">
													<li class="item-menusub01">
														<a href="http://www.anuenue.jp/maoli/index.html" target="_blank">
															<span class="l"><span class="en">maoli</span></span>
															<span class="r jp">
																マオリ
															</span>
														</a>
													</li>
													<li class="item-menusub01">
														<a href="http://www.anuenue.jp/nohea/index.html" target="_blank">
															<span class="l">
																<span class="en">nohea</span>
															</span>
															<span class="r jp">
																ノヘア
															</span>
														</a>
													</li>
													<li class="item-menusub01">
														<a href="http://www.anuenue.jp/hilealo/index.html" target="_blank">
															<span class="l"><span class="en">hilealo</span></span>
															<span class="r jp">ヒレアロ</span>
														</a>
													</li>
													<li class="item-menusub01">
														<a href="http://www.anuenue.jp/lino/index.html" target="_blank">
															<span class="l"><span class="en">lino</span> <span class="jp">草津</span></span>
															<span class="r jp">リノ 草津</span>
														</a>
													</li>
													<li class="item-menusub01">
														<a href="#" target="_blank">
															<span class="l">
																<span class="en">lino</span> <span class="jp">守山</span>
															</span>
															<span class="r jp">
																リノ 守山
															</span>
														</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="item item01">
										<ul class="list-menusub">
											<li class="item-menusub">
												<a href="#">
													<span class="l">
														<span class="en">STAFF</span>
													</span>
													<span class="r jp">
														スタッフ
													</span>
												</a>
											</li>
											<li class="item-menusub">
												<a href="#">
													<span class="l">
														<span class="en">STYLE</span>
													</span>
													<span class="r jp">
														スタイル
													</span>
												</a>
											</li>
											<li class="item-menusub">
												<a href="#">
													<span class="l">
														<span class="en">NEWS</span>
													</span>
													<span class="r jp">
														ニュース
													</span>
												</a>
											</li>
											<li class="item-menusub">
												<a href="#">
													<span class="l">
														<span class="en">RECRUIT</span>
													</span>
													<span class="r jp">
														採用について
													</span>
												</a>
											</li>
											<li class="item-menusub">
												<a href="#">
													<span class="l">
														<span class="en">PRIVACY POLICY</span>
													</span>
													<span class="r jp">
														プライバシーポリシー
													</span>
												</a>
											</li>
											<li class="item-menusub">
												<a href="#">
													<span class="l">
														<span class="en">SITE MAP</span>
													</span>
													<span class="r jp">
														サイトマップ
													</span>
												</a>
											</li>
											<li class="item-menusub">
												<a href="<%= RELATIVE_PATH %>">
													<span class="l">
														<span class="en">HOME</span>
													</span>
													<span class="r jp">
														ホーム
													</span>
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="nav-menumainb">
								<ul class="list-menubt">
									<li class="item-menubt">
										<a href="https://beauty.hotpepper.jp/slnH000174253/" class="btn-comp01" target="_blank">
											マオリで予約する
										</a>
									</li>
									<li class="item-menubt">
										<a href="https://beauty.hotpepper.jp/slnH000332632/" class="btn-comp01" target="_blank">
											ノヘアで予約する
										</a>
									</li>
									<li class="item-menubt">
										<a href="https://beauty.hotpepper.jp/slnH000408166/" class="btn-comp01" target="_blank">
											ヒレアロで予約する
										</a>
									</li>
									<li class="item-menubt">
										<a href="https://beauty.hotpepper.jp/slnH000174249/" class="btn-comp01" target="_blank">
											リノ 草津で予約する
										</a>
									</li>
									<li class="item-menubt">
										<a href="" class="btn-comp01" target="_blank">
											リノ 守山で予約する
										</a>
									</li>
									<li class="item-menubt">
										<a href="" class="btn-line" target="_blank">
										<span>
											友だち登録募集中！
										</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
					
					<span class="mobile-icon">
					<span class="ico-bar">
						<span></span>
					</span>
					<span class="txt en">
						menu
					</span>
				</span>
				</div>
			</div>
		</div>
	</div>
</header>