<main class="page-<%= pageData.template %> bg-lightbrown">
	<section class="sec-mvabout">
		<div class="inner">
			<div class="box-mvabout">
				<ul class="list-imgmain">
					<li class="item">
						<span class="pc">
							<img src="<%= RELATIVE_PATH %>img/about/img-main01.jpg" alt="lino">
						</span>
						<span class="sp">
							<img src="<%= RELATIVE_PATH %>img/about/img-main01-sp.jpg" alt="lino">
						</span>
					</li>
					<li class="item">
						<span class="pc">
							<img src="<%= RELATIVE_PATH %>img/about/img-main01.jpg" alt="lino">
						</span>
						<span class="sp">
							<img src="<%= RELATIVE_PATH %>img/about/img-main01-sp.jpg" alt="lino">
						</span>
					</li>
					<li class="item">
						<span class="pc">
							<img src="<%= RELATIVE_PATH %>img/about/img-main01.jpg" alt="lino">
						</span>
						<span class="sp">
							<img src="<%= RELATIVE_PATH %>img/about/img-main01-sp.jpg" alt="lino">
						</span>
					</li>
					<li class="item">
						<span class="pc">
							<img src="<%= RELATIVE_PATH %>img/about/img-main01.jpg" alt="lino">
						</span>
						<span class="sp">
							<img src="<%= RELATIVE_PATH %>img/about/img-main01-sp.jpg" alt="lino">
						</span>
					</li>
					<li class="item">
						<span class="pc">
							<img src="<%= RELATIVE_PATH %>img/about/img-main01.jpg" alt="lino">
						</span>
						<span class="sp">
							<img src="<%= RELATIVE_PATH %>img/about/img-main01-sp.jpg" alt="lino">
						</span>
					</li>
					<li class="item">
						<span class="pc">
							<img src="<%= RELATIVE_PATH %>img/about/img-main01.jpg" alt="lino">
						</span>
						<span class="sp">
							<img src="<%= RELATIVE_PATH %>img/about/img-main01-sp.jpg" alt="lino">
						</span>
					</li>
				</ul>
				<ul class="list-txtthumb">
					<li class="item-txtthumb">
						<span>
							lino
						</span>
						
					</li>
					<li class="item-txtthumb">
						<span>
							lino
						</span>
					</li>
					<li class="item-txtthumb">
						<span>
							lino
						</span>
					</li>
					<li class="item-txtthumb">
						<span>
							lino
						</span>
					</li>
					<li class="item-txtthumb">
						<span>
							lino
						</span>
					</li>
				</ul>
			</div>
			
		</div>
	</section>
	<div class="sec-abouts">
		<div class="inner">
			<div class="box-abouts">
				<h1 class="ttl-comp03">
					ABOUT
				</h1>
				<h2 class="ttl-logo">
					<img src="<%= RELATIVE_PATH %>img/about/img-ttl01.png" alt="anuenue" width="237">
				</h2>
				<div class="des-txt">
					<p>
						滋賀県下、5店舗の美容室を経営し<br>
						私たちは“アロハの心”で
					</p>
					<p>
						あなたの日常の“アクセント”になる為に存在しています。
					</p>
					<p>
						お客様、地域の方々にとって、<br>
						ワクワクと心躍る場所でありたいと願っています。
					</p>
				</div>
			</div>
			<ul class="list-linkcp">
				<li class="item-linkcp">
					<a href="#idbox01" class="btn-comp04 link">
						<span class="en">maoli</span> -マオリ-
					</a>
				</li>
				<li class="item-linkcp">
					<a href="#idbox02" class="btn-comp04 link">
						<span class="en">nohea</span> -ノヘア-
					</a>
				</li>
				<li class="item-linkcp">
					<a href="#idbox03" class="btn-comp04 link">
						<span class="en">hilealo</span> -ヒレアロ-
					</a>
				</li>
				<li class="item-linkcp">
					<a href="#idbox04" class="btn-comp04 link">
						<span class="en">lino</span> -リノ-
					</a>
				</li>
				<li class="item-linkcp">
					<a href="#idbox05" class="btn-comp04 link">
						<span class="en">lino</span> -リノ 守山-
					</a>
				</li>
			</ul>
			<div class="box-listabout">
				<div class="box-itemabout">
					<div class="box-itemabout__wrap" id="idbox01">
						<div class="box-itemabout__txt">
							<h3 class="ttl">
							<span class="ttl-logo">
								<span class="pc">
									<img src="<%= RELATIVE_PATH %>img/about/img-ttl02.png" alt="maoli" width="129">
								</span>
								<span class="sp">
									<img src="<%= RELATIVE_PATH %>img/about/img-ttl02-sp.png" alt="maoli" width="100">
								</span>
							</span>
								<span class="txt">
								魅力的に年齢を重ねていきたい<br>
								自分らしく、しなやかでタフな女性へ
							</span>
							</h3>
							<p class="txt-basic">
								“本物”を意味する[マオリ]は、洗練された大人女性のおしゃれを楽しめるサロン。「若い子のトレンドは、もう私には...」と悩んでいるあなたにピッタリのトレンドを取り入れ、ケアもオシャレも妥協しない、憧れられる素敵な女性へ導きます。
							</p>
						</div>
						<div class="box-itemabout__img">
							<img src="<%= RELATIVE_PATH %>img/about/img-ab01.png" alt="maoli">
						</div>
					</div>
					<ul class="list-tags txt-basic">
						<li class="item-tag">
							<a href="">
								#年齢に合ったトレンドを提案
							</a>
						</li>
						<li class="item-tag">
							<a href="">
								#ヌケ感のある大人のオシャレ
							</a>
						</li>
						<li class="item-tag">
							<a href="">
								#年齢に合わせたケア
							</a>
						</li>
					</ul>
					<a href="http://www.anuenue.jp/maoli/index.html" class="btn-comp02" target="_blank">SHOP INFO</a>
				</div>
				<div class="box-itemabout  box-itemabout02">
					<div class="box-itemabout__wrap" id="idbox02">
						<div class="box-itemabout__txt">
							<h3 class="ttl">
								<span class="ttl-logo">
									<span class="pc">
										<img src="<%= RELATIVE_PATH %>img/about/img-ttl03.png" alt="nohea" width="129">
									</span>
									<span class="sp">
										<img src="<%= RELATIVE_PATH %>img/about/img-ttl03-sp.png" alt="nohea" width="80">
									</span>
								</span>
								<span class="txt pc">
								頑張りすぎない、自然なオシャレ感<br>
								心地よいナチュラルな“かわいい”を<br>
								あなたらしく楽しめる
								</span>
								<span class="txt sp">
								可愛い"を全て叶えられる<br>
								あなたの魅力を引出す<br>
								トレンドスタイルへ
								</span>
							</h3>
							<p class="txt-basic">
								“かわいい”を意味する[ノヘア]は、あなたに似合うトレンドを<br class="pc">取り入れた、ナチュラルで可愛いスタイルをご提案。<br class="pc">
								お肌の色に合わせたカラーやお顔の形や骨格に合わせた<br class="pc">スタイルなど、心地よさがある自然なあなたへ導きます。
							</p>
						</div>
						<div class="box-itemabout__img">
							<img src="<%= RELATIVE_PATH %>img/about/img-ab02.png" alt="nohea">
						</div>
					</div>
					<ul class="list-tags txt-basic">
						<li class="item-tag">
							<a href="">
								#ナチュラルな可愛さ
							</a>
						</li>
						<li class="item-tag">
							<a href="">
								#自分に似合うトレンド
							</a>
						</li>
					</ul>
					<a  href="http://www.anuenue.jp/nohea/index.html" class="btn-comp02" target="_blank">SHOP INFO</a>
				</div>
				<div class="box-itemabout box-itemabout03">
					<div class="box-itemabout__wrap" id="idbox03">
						<div class="box-itemabout__txt">
							<h3 class="ttl">
							<span class="ttl-logo">
								<span class="pc">
									<img src="<%= RELATIVE_PATH %>img/about/img-ttl04.png" alt="hilealo" width="129">
								</span>
								<span class="sp">
									<img src="<%= RELATIVE_PATH %>img/about/img-ttl04-sp.png" alt="hilealo" width="100">
								</span>
							</span>
								<span class="txt">
								ラフで親しみやすいけど、ゆる過ぎず<br>
								流行りも良いけど、自分の好みが大切<br>
								3世代で通えるアットホームなサロン
							</span>
							</h3>
							<p class="txt-basic">
								“楽しみ・喜びをあなたに繋げる”を意味する[ヒレアロ]は、<br class="pc">
								ラフで親しみやすいけど、ゆる過ぎないカジュアルスタイルを得意としています。ライフスタイルに合わせてご提案できるので、<br class="pc">ご家族3世代で通ってくださるお客様も多数！
							</p>
						</div>
						<div class="box-itemabout__img">
							<img src="<%= RELATIVE_PATH %>img/about/img-ab03.png" alt="hilealo">
						</div>
					</div>
					<ul class="list-tags txt-basic">
						<li class="item-tag">
							<a href="">
								#3世代に支持されるサロン
							</a>
						</li>
						<li class="item-tag">
							<a href="">
								#ゆるすぎないカジュアル感
							</a>
						</li>
						<li class="item-tag">
							<a href="">
								#パーソナルな似合わせ
							</a>
						</li>
					</ul>
					<a href="http://www.anuenue.jp/hilealo/index.html" class="btn-comp02" target="_blank">SHOP INFO</a>
				</div>
				<div class="box-itemabout box-itemabout04">
					<div class="box-itemabout__wrap" id="idbox04">
						<div class="box-itemabout__txt">
							<h3 class="ttl">
							<span class="ttl-logo">
								<span class="pc">
									<img src="<%= RELATIVE_PATH %>img/about/img-ttl05.png" alt="lino" width="161">
								</span>
								<span class="sp">
									<img src="<%= RELATIVE_PATH %>img/about/img-ttl05-sp.png" alt="lino" width="100">
								</span>
							</span>
								<span class="txt pc">
								あなたの素材を理解し、<br>
								活かせるスタイルつくり<br>
								トレンドに敏感な女性専用サロン
							</span>
								<span class="txt sp">
								あなたの素材を理解し、活かせる<br>
								共感できるオシャレなスタイルづくり<br>
								トレンドに敏感な女性専用サロン
							</span>
							</h3>
							<p class="txt-basic">
								“輝いている”を意味する[リノ]は、トレンドをいち早く取り入れ、<br class="pc">あなたのファンションや好奇心に寄り添う「トレンド×個性」で<br class="pc">変化を楽しみたいあなたにオススメのサロン。スタッフも<br class="pc">
								女性ONLYだから「かわいい」に共感でき、オシャレ力UP！
							</p>
						</div>
						<div class="box-itemabout__img">
							<img src="<%= RELATIVE_PATH %>img/about/img-ab04.png" alt="lino">
						</div>
					</div>
					<ul class="list-tags txt-basic">
						<li class="item-tag">
							<a href="">
								#トレンドに敏感なサロン
							</a>
						</li>
						<li class="item-tag">
							<a href="">
								#トータルの雰囲気への似合わせ
							</a>
						</li>
						<li class="item-tag">
							<a href="">
								#女性専用サロン
							</a>
						</li>
					</ul>
					<a href="http://www.anuenue.jp/lino/index.html" class="btn-comp02" target="_blank">SHOP INFO</a>
				</div>
				<div class="box-itemabout box-itemabout05">
					<div class="box-itemabout__wrap" id="idbox05">
						<div class="box-itemabout__txt">
							<h3 class="ttl">
							<span class="ttl-logo">
								<span class="pc">
									<img src="<%= RELATIVE_PATH %>img/about/img-ttl06.png" alt="lino" width="161">
								</span>
								<span class="sp">
									<img src="<%= RELATIVE_PATH %>img/about/img-ttl06-sp.png" alt="lino" width="100">
								</span>
							</span>
								<span class="txt">
								守山に待望のlino2店舗目！<br>
								トレンド重視のヌケ感がある可愛さを<br>
								あなたのセンスをワンランクアップ
							</span>
							</h3>
							<p class="txt-basic">
								女性目線の「かわいい」を追求できる女性専用サロン。<br class="pc">
								同世代の女性同士だからこそ分かる絶妙なニュアンスを汲み取り、ファッションやメイクなど、あなたの個性を生かした<br class="pc">
								ワンランク上のオシャレをご提案！
							</p>
						</div>
						<div class="box-itemabout__img">
							<img src="<%= RELATIVE_PATH %>img/about/img-ab05.png" alt="lino">
						</div>
					</div>
					<ul class="list-tags txt-basic">
						<li class="item-tag">
							<a href="">
								#女性専用サロン
							</a>
						</li>
						<li class="item-tag">
							<a href="">
								#トレンド重視
							</a>
						</li>
						<li class="item-tag">
							<a href="">
								#オシャレ力を上げたい方にオススメ
							</a>
						</li>
					</ul>
					<a href="" class="btn-comp02" target="_blank">SHOP INFO</a>
				</div>
				
			</div>
			<div class="box-recruit box-recruit01">
				<div class="block-recruit">
					<div class="ttl-vertical">
					<span>
						RECRUIT
					</span>
					</div>
					<div class="img-recruit">
						<span class="pc">
							<img src="<%= RELATIVE_PATH %>img/concept/img-recruit.jpg" alt="RECRUIT">
						</span>
						<span class="sp">
							<img src="<%= RELATIVE_PATH %>img/index/img-bgrecruit01-sp.jpg" alt="RECRUIT">
						</span>
					</div>
					<div class="des-recruit">
						<span class="pc">
							<img src="<%= RELATIVE_PATH %>img/concept/img-sloganrecruit.png" alt="サロン見学も歓迎！">
						</span>
						<span class="sp">
							<img src="<%= RELATIVE_PATH %>img/concept/img-sloganrecruit-sp.png" alt="サロン見学も歓迎！">
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	

</main>