<main class="page-<%= pageData.template %> bg-lightbrown">
	<section class="sec-concepts">
		<div class="inner">
			<div class="box-concepts">
				<div class="box-concepts__img">
					<img src="<%= RELATIVE_PATH %>img/concept/img-01.jpg" alt="CONCEPT">
				</div>
				<div class="box-concepts__des">
					<div class="txt-des">
						わたしたち<br>
						anuenueの考える<br>
						美容師としての<br>
						「使命」とは？
					</div>
					<h1 class="ttl-des">
						CONCEPT
					</h1>
				</div>
			</div>
			<div class="list-concept">
				<div class="item-concept item-concept01">
					<h2 class="ttl-comp02">
						<span>
							似合うカミガタ
						</span>
					</h2>
					<div class="item-conceptmain">
						<div class="des">
							<div class="txt-basic">
								私たちが考える似合うとは…<br>
								ジブンの肌・髪・顔・骨格にフィットしてること<br>
								肌の色も髪質も顔の形も骨格も人それぞれ<br><br class="sp">
								気になるお悩みもみんな違ってみんな良い<br>
								コンプレックスも活かせば個性に<br><br class="sp">
								ワタシをより魅力的に演出してくれる<br>
								カミガタが似合わせ
							</div>
						</div>
						<div class="img">
							<span class="pc">
								<img src="<%= RELATIVE_PATH %>img/concept/img-02.jpg" alt="似合うカミガタ">
							</span>
							<span class="sp">
								<img src="<%= RELATIVE_PATH %>img/concept/img-02-sp.jpg" alt="似合うカミガタ">
							</span>
						</div>
					</div>
				</div>
				<div class="item-concept item-concept02">
					<div class="item-conceptmain">
						<div class="des">
							<h2 class="ttl-cal">
								<span>デザインする</span>
								<span><span class="vt">=</span></span>
								<span>似合う× 今を取り入れる</span>
							</h2>
							<div class="txt-basic">
								『自分らしくありたい』<br>
								『流行りを取り入れたい』<br>
								『洗練されていたい』<br><br class="sp">
								そんな気持ちに寄り添い、<br>
								似合っていて時代とともに変化を楽しみ続けられる<br class="pc">
								デザインを作ること<br><br class="sp">
								周りから「センスがいいね」と<br>
								言われるワタシになれる<br class="pc">
								デザインを
							</div>
						</div>
						<div class="img">
							<h2 class="ttl-comp02 ttl-comp02__vt">
								<span>
									デザインすること
								</span>
							</h2>
							<img src="<%= RELATIVE_PATH %>img/concept/img-03.jpg" alt="似合うカミガタ">
						</div>
					</div>
				</div>
				<div class="item-concept item-concept03">
					<h2 class="ttl-comp02">
						<span>
							ヘルシーな美しさ
						</span>
					</h2>
					<div class="item-conceptmain">
						<div class="des">
							<div class="txt-basic">
								健康的で魅力的な心と体があるから<br>
								本来の魅力が引き立つもの<br><br class="sp">
								髪も肌も体もいつも頑張っている<br>
								ワタシを労ってあげて<br><br class="sp">
								心と体を潤わせてあげて<br>
								いつでもご機嫌なワタシでいられる<br>
								ケアも忘れずに<br><br class="sp">
								素材の美しさの上に<br>
								デザインは成り立つもの
							</div>
						</div>
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/concept/img-04.jpg" alt="ヘルシーな美しさ">
						</div>
					</div>
				</div>
				<div class="item-concept item-concept04">
					<h2 class="ttl-concept01">
						<span>
							anuenueは
						</span>
						
					</h2>
					<div class="item-conceptmain">
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/concept/img-05.jpg" alt="anuenueは">
						</div>
						<div class="des">
							<div class="txt-basic txt-center">
								素材を大切にした【ヘルシーな美しさ】に<br>【似合う】ことをベーシックに<br>
								時代に合わせて今を取りいれた<br>
								【センスがいい】ヘアスタイルを<br>
								届けることが<br>
								私たちの使命だと考えます
							</div>
						</div>
					</div>
				</div>
			</div>
			<ul class="list-linkcp">
				<li class="item-linkcp">
					<a href="http://www.anuenue.jp/maoli/index.html" target="_blank" class="btn-comp04">
						<span class="en">maoli</span> -マオリ-
					</a>
				</li>
				<li class="item-linkcp">
					<a href="http://www.anuenue.jp/nohea/index.html" target="_blank" class="btn-comp04">
						<span class="en">nohea</span> -ノヘア-
					</a>
				</li>
				<li class="item-linkcp">
					<a href="http://www.anuenue.jp/hilealo/index.html" target="_blank" class="btn-comp04">
						<span class="en">hilealo</span> -ヒレアロ-
					</a>
				</li>
				<li class="item-linkcp">
					<a href="http://www.anuenue.jp/lino/index.html" target="_blank" class="btn-comp04">
						<span class="en">lino</span> -リノ-
					</a>
				</li>
				<li class="item-linkcp">
					<a href="" class="btn-comp04" target="_blank">
						<span class="en">lino</span> -リノ守山-
					</a>
				</li>
			</ul>
			<div class="box-recruit box-recruit01">
				<div class="block-recruit">
					<div class="ttl-vertical">
					<span>
						RECRUIT
					</span>
					</div>
					<div class="img-recruit">
						<span class="pc">
							<img src="<%= RELATIVE_PATH %>img/concept/img-recruit.jpg" alt="RECRUIT">
						</span>
						<span class="sp">
							<img src="<%= RELATIVE_PATH %>img/index/img-bgrecruit01-sp.jpg" alt="RECRUIT">
						</span>
					</div>
					<div class="des-recruit">
						<span class="pc">
							<img src="<%= RELATIVE_PATH %>img/concept/img-sloganrecruit.png" alt="サロン見学も歓迎！">
						</span>
						<span class="sp">
							<img src="<%= RELATIVE_PATH %>img/concept/img-sloganrecruit-sp.png" alt="サロン見学も歓迎！">
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>


</main>