<main class="page-<%= pageData.template %> bg-lightbrown">
	<section class="sec-mv">
		<div class="inner inner-1140">
			<div class="box-mv">
				<div class="des-mv">
					<h1 class="ttl-mv">
						あなたの日常に<br>
						美容を通じて<br>
						キレイをアクセントに
					</h1>
					<div class="txt-basic pc">
						anuenueは、<br>
						素材を大切にした【ヘルシーな美しさ】に<br>
						【似合う】ことをベーシックに<br>
						時代に合わせて今を取りいれた<br>
						【センスがいい】ヘアスタイルを<br>
						届けることが<br>
						私たちの使命だと考えます
					</div>
				</div>
				<div class="slide-mv">
					<ul class="list-slides">
						<li class="item-slide">
							<span class="pc">
								<img src="<%= RELATIVE_PATH %>img/index/img-mv01.jpg" alt="あなたの日常に美容を通じてキレイをアクセントに">
							</span>
							<span class="sp">
								<img src="<%= RELATIVE_PATH %>img/index/img-mv01-sp.jpg" alt="あなたの日常に美容を通じてキレイをアクセントに">
							</span>
						</li>
						<li class="item-slide">
							<span class="pc">
								<img src="<%= RELATIVE_PATH %>img/index/img-mv01.jpg" alt="あなたの日常に美容を通じてキレイをアクセントに">
							</span>
							<span class="sp">
								<img src="<%= RELATIVE_PATH %>img/index/img-mv01-sp.jpg" alt="あなたの日常に美容を通じてキレイをアクセントに">
							</span>
						</li>
						<li class="item-slide">
							<span class="pc">
								<img src="<%= RELATIVE_PATH %>img/index/img-mv01.jpg" alt="あなたの日常に美容を通じてキレイをアクセントに">
							</span>
							<span class="sp">
								<img src="<%= RELATIVE_PATH %>img/index/img-mv01-sp.jpg" alt="あなたの日常に美容を通じてキレイをアクセントに">
							</span>
						</li>
						<li class="item-slide">
							<span class="pc">
								<img src="<%= RELATIVE_PATH %>img/index/img-mv01.jpg" alt="あなたの日常に美容を通じてキレイをアクセントに">
							</span>
							<span class="sp">
								<img src="<%= RELATIVE_PATH %>img/index/img-mv01-sp.jpg" alt="あなたの日常に美容を通じてキレイをアクセントに">
							</span>
						</li>
						<li class="item-slide">
							<span class="pc">
								<img src="<%= RELATIVE_PATH %>img/index/img-mv01.jpg" alt="あなたの日常に美容を通じてキレイをアクセントに">
							</span>
							<span class="sp">
								<img src="<%= RELATIVE_PATH %>img/index/img-mv01-sp.jpg" alt="あなたの日常に美容を通じてキレイをアクセントに">
							</span>
						</li>
					</ul>
				</div>
				<div class="txt-basic sp">
					anuenueは、<br>
					素材を大切にした【ヘルシーな美しさ】に<br>
					【似合う】ことをベーシックに<br>
					時代に合わせて今を取りいれた<br>
					【センスがいい】ヘアスタイルを<br>
					届けることが<br>
					私たちの使命だと考えます
				</div>
			</div>
		</div>
	</section>
	<div class="sec-content">
		<div class="inner">
			<a href="" class="slogan">
				安心してご来店いただける<br class="sp">徹底した衛生対策取り組み
			</a>
			<div class="box-concept">
				<div class="block-concept">
					<div class="img">
						<img src="<%= RELATIVE_PATH %>img/index/img-01.jpg" alt="CONCEPT">
					</div>
					<div class="des-concept">
						<div class="des-concept-wrap">
							<h2 class="ttl-comp01">
								CONCEPT
							</h2>
							<p class="txt-basic">
								anuenue(アヌエヌエ)が考える ｢似合わせ｣とは...<br>
								自分に似合うスタイルがわからない、自分に合う美容室が見つからない方へ
							</p>
							<a href="" class="btn-comp02">
								READ MORE
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="box-about">
				<div class="box-about__ct">
					<h3 class="ttl-comp01 mbpc-48 mbsp-30">
						ABOUT
					</h3>
					<ul class="list-abouts js-slide">
						<li class="item-about">
							<img src="<%= RELATIVE_PATH %>img/index/img-02.jpg" alt="ABOUT">
						</li>
						<li class="item-about">
							<img src="<%= RELATIVE_PATH %>img/index/img-03.jpg" alt="ABOUT">
						</li>
						<li class="item-about">
							<img src="<%= RELATIVE_PATH %>img/index/img-04.jpg" alt="ABOUT">
						</li>
						<li class="item-about">
							<img src="<%= RELATIVE_PATH %>img/index/img-02.jpg" alt="ABOUT">
						</li>
						<li class="item-about">
							<img src="<%= RELATIVE_PATH %>img/index/img-03.jpg" alt="ABOUT">
						</li>
						<li class="item-about">
							<img src="<%= RELATIVE_PATH %>img/index/img-04.jpg" alt="ABOUT">
						</li>
					</ul>
					<div class="txt-basic w-txt">
						<p>
							anuenue(アヌエヌエ)では､ハワイをテーマに各店に異なるコンセプトがあり､<br class="pc">
							特にヘッドスパは全国大会の入賞者がいるなど､<br class="sp">力を入れています｡ライフスタイルやお好みに合わせてあなたのキレイをサポートさせていただいております｡
						</p>
					</div>
					<div class="txt-center">
						<a href="" class="btn-comp02">
							READ MORE
						</a>
					</div>
				</div>
				
			</div>
			<div class="box-shopinfo">
				<h3 class="ttl-comp01 txt-center mbpc-65 mbsp-41">
					SHOP INFO
				</h3>
				<ul class="list-shopinfo">
					<li class="item-shopinfo">
						<div class="img">
							<a href="http://www.anuenue.jp/maoli/index.html" target="_blank">
								<img src="<%= RELATIVE_PATH %>img/index/img-info01.jpg" alt="maoli -マオリ-">
							</a>
							
						</div>
						<div class="ttl-shopinfo">
							<span class="en">maoli</span> -マオリ-
						</div>
						<div class="list-links">
							<div class="item-link">
								<a href="http://www.anuenue.jp/maoli/index.html" class="btn-comp02" target="_blank">
									READ MORE
								</a>
							</div>
							<div class="item-link">
								<a href="https://beauty.hotpepper.jp/slnH000174253/" class="btn-comp03" target="_blank">
									RESERVE
								</a>
							</div>
						</div>
					</li>
					<li class="item-shopinfo">
						<div class="img">
							<a href="http://www.anuenue.jp/nohea/index.html" target="_blank">
								<img src="<%= RELATIVE_PATH %>img/index/img-info02.jpg" alt="nohea -ノヘア-">
							</a>
						</div>
						<div class="ttl-shopinfo">
							<span class="en">nohea</span> -ノヘア-
						</div>
						<div class="list-links">
							<div class="item-link">
								<a href="http://www.anuenue.jp/nohea/index.html" class="btn-comp02" target="_blank">
									READ MORE
								</a>
							</div>
							<div class="item-link">
								<a href="https://beauty.hotpepper.jp/slnH000332632/" class="btn-comp03" target="_blank">
									RESERVE
								</a>
							</div>
						</div>
					</li>
					<li class="item-shopinfo">
						<div class="img">
							<a href="http://www.anuenue.jp/hilealo/index.html" target="_blank">
								<img src="<%= RELATIVE_PATH %>img/index/img-info03.jpg" alt="hilealo -ヒレアロ-">
							</a>
						</div>
						<div class="ttl-shopinfo">
							<span class="en">hilealo</span> -ヒレアロ-
						</div>
						<div class="list-links">
							<div class="item-link">
								<a href="http://www.anuenue.jp/hilealo/index.html" class="btn-comp02" target="_blank">
									READ MORE
								</a>
							</div>
							<div class="item-link">
								<a href="https://beauty.hotpepper.jp/slnH000408166/" class="btn-comp03" target="_blank">
									RESERVE
								</a>
							</div>
						</div>
					</li>
					<li class="item-shopinfo">
						<div class="img">
							<a href="http://www.anuenue.jp/lino/index.html" target="_blank">
								<img src="<%= RELATIVE_PATH %>img/index/img-info04.jpg" alt="lino -リノ-">
								<span class="ttl-img en">
								WOMEN ONLY
							</span>
							</a>
						</div>
						<div class="ttl-shopinfo">
							<span class="en">lino</span> -リノ-
						</div>
						<div class="list-links">
							<div class="item-link">
								<a href="http://www.anuenue.jp/lino/index.html" class="btn-comp02" target="_blank">
									READ MORE
								</a>
							</div>
							<div class="item-link">
								<a href="https://beauty.hotpepper.jp/slnH000174249/" class="btn-comp03" target="_blank">
									RESERVE
								</a>
							</div>
						</div>
					</li>
					<li class="item-shopinfo">
						<div class="img">
							<a href="" target="_blank">
								<img src="<%= RELATIVE_PATH %>img/index/img-info05.jpg" alt="lino -リノ 守山店-">
								<span class="ttl-img en">
								WOMEN ONLY
							</span>
							</a>
						</div>
						<div class="ttl-shopinfo">
							<span class="en">lino</span> -リノ 守山店-
						</div>
						<div class="list-links">
							<div class="item-link">
								<a href="" class="btn-comp02" target="_blank">
									READ MORE
								</a>
							</div>
							<div class="item-link">
								<a href="" class="btn-comp03" target="_blank">
									RESERVE
								</a>
							</div>
						</div>
					</li>
					
				</ul>
			</div>
			<div class="box-style">
				<h3 class="ttl-comp01 txt-center mbpc-72 mbsp-30">
					STYLE
				</h3>
				<ul class="list-style">
					<li class="item">
						<img src="<%= RELATIVE_PATH %>img/index/img-style01.jpg" alt="STYLE">
					</li>
					<li class="item">
						<img src="<%= RELATIVE_PATH %>img/index/img-style02.jpg" alt="STYLE">
					</li>
					<li class="item">
						<img src="<%= RELATIVE_PATH %>img/index/img-style03.jpg" alt="STYLE">
					</li>
					<li class="item">
						<img src="<%= RELATIVE_PATH %>img/index/img-style04.jpg" alt="STYLE">
					</li>
				</ul>
				<div class="txt-center">
					<a href="" class="btn-comp03">
						READ MORE
					</a>
				</div>
			</div>
			<div class="box-news">
				<h3 class="ttl-comp01 txt-center mbpc-72 mbsp-47">
					NEWS
				</h3>
				<ul class="list-news js-slide04">
					<li class="item-news">
						<a href="">
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/index/img-news01.jpg" alt="マイクロバブル・トリートメント">
							</div>
							<div class="ttl-news">
								マイクロバブル・トリートメント
							</div>
							<div class="time-news">
								2021.05.09
							</div>
						</a>
					</li>
					<li class="item-news">
						<a href="">
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/index/img-news02.jpg" alt="mahaloi linoシャンプー＆トリートメント リニューアル">
							</div>
							<div class="ttl-news">
								mahaloi linoシャンプー＆トリートメント リニューアル
							</div>
							<div class="time-news">
								2021.04.25
							</div>
						</a>
					</li>
					<li class="item-news">
						<a href="">
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/index/img-news03.jpg" alt="マハロイマスク">
							</div>
							<div class="ttl-news">
								マハロイマスク
							</div>
							<div class="time-news">
								2021.04.18
							</div>
						</a>
					</li>
					<li class="item-news">
						<a href="">
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/index/img-news04.jpg" alt="深みオリーブ">
							</div>
							<div class="ttl-news">
								深みオリーブ
							</div>
							<div class="time-news">
								2021.04.16
							</div>
						</a>
					</li>
					<li class="item-news">
						<a href="">
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/index/img-news01.jpg" alt="マイクロバブル・トリートメント">
							</div>
							<div class="ttl-news">
								マイクロバブル・トリートメント
							</div>
							<div class="time-news">
								2021.05.09
							</div>
						</a>
					</li>
					<li class="item-news">
						<a href="">
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/index/img-news02.jpg" alt="mahaloi linoシャンプー＆トリートメント リニューアル">
							</div>
							<div class="ttl-news">
								mahaloi linoシャンプー＆トリートメント リニューアル
							</div>
							<div class="time-news">
								2021.04.25
							</div>
						</a>
					</li>
					<li class="item-news">
						<a href="">
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/index/img-news03.jpg" alt="マハロイマスク">
							</div>
							<div class="ttl-news">
								マハロイマスク
							</div>
							<div class="time-news">
								2021.04.18
							</div>
						</a>
					</li>
					<li class="item-news">
						<a href="">
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/index/img-news04.jpg" alt="深みオリーブ">
							</div>
							<div class="ttl-news">
								深みオリーブ
							</div>
							<div class="time-news">
								2021.04.16
							</div>
						</a>
					</li>
				</ul>
				<div class="txt-center">
					<a href="" class="btn-comp03">
						READ MORE
					</a>
				</div>
			</div>
			<div class="box-recruit">
				<div class="block-recruit">
					<div class="ttl-vertical">
					<span>
						RECRUIT
					</span>
					</div>
					<div class="img-recruit">
						<span class="pc">
							<img src="<%= RELATIVE_PATH %>img/index/img-bgrecruit01.jpg" alt="RECRUIT">
						</span>
						<span class="sp">
							<img src="<%= RELATIVE_PATH %>img/index/img-bgrecruit01-sp.jpg" alt="RECRUIT">
						</span>
					</div>
					<div class="des-recruit">
						<span class="pc">
							<img src="<%= RELATIVE_PATH %>img/index/img-txt01.png" alt="サロン見学も歓迎！">
						</span>
						<span class="sp">
							<img src="<%= RELATIVE_PATH %>img/index/img-txt01-sp.png" alt="サロン見学も歓迎！">
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</main>