<main class="page-<%= pageData.template %>">
	<section class="sec-mv01">
		<div class="inner">
			<div class="mv-img">
				<img src="<%= RELATIVE_PATH %>img/recruit/mv-img.jpg" alt="RECRUIT">
			</div>
			<div class="mv-content">
				<h1 class="mv-ttl">
					RECRUIT
				</h1>
				<p class="mv-txt">
					ワクワクと心躍る場所で<br>自分のペースで着実に成長していける
				</p>
			</div>
		</div>
	</section>
	<section class="sec-creative">
		<h2 class="contents-ttl">
			<span class="inn">CONTENTS 7</span>
		</h2>
		<h3 class="contents-subTtl">
			<img src="<%= RELATIVE_PATH %>img/recruit/02/ttl-creative.svg" alt="anuenueのクリエイティブ活動" class="pc">
			<img src="<%= RELATIVE_PATH %>img/recruit/02/ttl-creative-sp.svg" alt="anuenueのクリエイティブ活動" class="sp">
			<span class="en">
				<img src="<%= RELATIVE_PATH %>img/recruit/02/ttl-creative-en.svg" alt="Creative" width="1300">
			</span>
		</h3>
		<div class="txt-intro mbpc-80 mbsp-40">
			anue nueは、<br class="sp">お客様を必ず可愛く素敵にします。<br>
			そのために様々な試みで、デザイン力の<br class="sp">向上に努力と挑戦を続けています。
		</div>
		<div class="creative-block">
			<div class="item">
				<div class="inner">
					<div class="item-wp">
						<div class="item__info">
							<h3 class="item__ttl">
								<small>撮影チーム</small>
								<span>PHOTO SHOOTING</span>
							</h3>
							<div class="txt-basic">
								希望があれば入社後すぐにでも撮影チームに参加できます。<br class="sp">最初は先輩の撮影の見学からですが、いつか雑誌に掲載される美容師として活躍できるよう、経験を積める場を多く設けています。
							</div>
							<a href="#" class="btn"><span>anue nueのスタイルを見る</span></a>
						</div>
						<div class="item__img">
							<img src="<%= RELATIVE_PATH %>img/recruit/02/creative-01.jpg" alt="撮影チーム PHOTO SHOOTING" class="pc">
							<img src="<%= RELATIVE_PATH %>img/recruit/02/creative-01-sp.jpg" alt="撮影チーム PHOTO SHOOTING" class="sp">
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="inner">
					<div class="item-wp">
						<div class="item__info">
							<h3 class="item__ttl">
								<small>多数コンテスト実績</small>
								<span>CONTEST</span>
							</h3>
							<div class="txt-basic">
								<p>「滋賀から全国に」を合言葉に、積極的にコンテストに出場しています。</p>
								<div class="box-timeline">
									＜出場コンテスト＞
									<p>
										<span>2010年</span><span>COTAスタイリストアワード　全国大会入賞<br></span>
									</p>
									<p>
										<span>2011年</span><span>神戸コレクションビューティサミット　グランプリ<br></span>
									</p>
									<p>
										<span>2012年</span><span>ミルボンDAコミュニケーションアビリティ受賞<br class="sp">（滋賀県のサロンで初）<br></span>
									</p>
									<p>
										<span>2012年</span><span>神戸コレクションビューティサミット　<br class="sp">準グランプリ<br></span>
									</p>
									<p>
										<span>2013年</span><span>ミルボンDAコミュニケーショアビリティ受賞<br></span>
									</p>
									<p>
										<span>2015年</span><span>CIS全国カウンセリングアワード　グランプリ<br></span>
									</p>
									<p>
										<span>2016年</span><span>JHCA滋賀カラーコンテスト優勝<br></span>
									</p>
									<p>(その他多数実績あり)</p>
								</div>
							</div>
						</div>
						<div class="item__img">
							<img src="<%= RELATIVE_PATH %>img/recruit/02/creative-02.jpg" alt="多数コンテスト実績 CONTEST" class="pc">
							<img src="<%= RELATIVE_PATH %>img/recruit/02/creative-02-sp.jpg" alt="多数コンテスト実績 CONTEST" class="sp">
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="inner">
					<div class="item-wp">
						<div class="item__info">
							<h3 class="item__ttl">
								<small>雑誌などのメディア掲載</small>
								<span>MEDIA</span>
							</h3>
							<div class="txt-basic">
								撮影チームで撮影した作品は、コンテストや雑誌に掲載されたり、ホットペッパー・HP・SNSなど、様々な媒体によって、たくさんの人の目に映ります。クリエイティブな能力は、サロンワークでも発揮されるので、anuenueでは力を入れている分野の1つでもあります。
							</div>
						</div>
						<div class="item__img">
							<img src="<%= RELATIVE_PATH %>img/recruit/02/creative-03.jpg" alt="雑誌などのメディア掲載 MEDIA" class="pc">
							<img src="<%= RELATIVE_PATH %>img/recruit/02/creative-03-sp.jpg" alt="雑誌などのメディア掲載 MEDIA" class="sp">
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="inner">
					<div class="item-wp">
						<div class="item__info">
							<h3 class="item__ttl">
								<small>コレクション参加</small>
								<span>COLLECTION</span>
							</h3>
							<div class="txt-basic">
								神戸コレクション・関西コレクションや音楽イベントなど多数のコレクションやイベントにヘアメイクとして参加しています。
							</div>
						</div>
						<div class="item__img">
							<img src="<%= RELATIVE_PATH %>img/recruit/02/creative-04.jpg" alt="コレクション参加 COLLECTION" class="pc">
							<img src="<%= RELATIVE_PATH %>img/recruit/02/creative-04-sp.jpg" alt="コレクション参加 COLLECTION" class="sp">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec-vision">
		<h2 class="contents-ttl">
			<span class="inn">CONTENTS 8</span>
		</h2>
		<h3 class="contents-subTtl">
			<img src="<%= RELATIVE_PATH %>img/recruit/02/ttl-vision.svg" alt="anue nueはハワイ語で虹という意味" class="pc">
			<img src="<%= RELATIVE_PATH %>img/recruit/02/ttl-vision-sp.svg" alt="anue nueはハワイ語で虹という意味" class="sp">
			<span class="en">
				<img src="<%= RELATIVE_PATH %>img/recruit/02/ttl-vision-en.svg" alt="Company Vision" width="1300">
			</span>
		</h3>
		<div class="txt-intro mbpc-57 mbsp-67">
			本来の虹は◯(円)でつながっています。<br>
			anue nueは、その“虹”にちなみ、<br class="sp">「お客様とのつながり」<br class="sp">「地域、社会とのつながり」<br>
			「スタッフ同士のつながり」<br class="sp">「努力と成果のつながり」<br class="sp">を表現して名付けました。
		</div>
		<div class="bg-triangle">
			<div class="inner">
				<div class="vision-top-block">
					<div class="item">
						<h3 class="item__ttl">
							<small class="jp">基本精神</small>
							<span class="en">Basic spirit</span>
						</h3>
						<h4 class="txt-lead cl-03">
							全ては人と人
						</h4>
						<div class="txt-basic txt-center">
							家族、友達、社員、お客様、協力者、自分達に関わる全ての人に感謝の気持ちの想いを持つこと、心の信頼を勝ち取ることを大切にし、その想いを全ての行動に繋げていくことが大切だと<br>
							考えます。
						</div>
					</div>
					<div class="item">
						<h3 class="item__ttl">
							<small class="jp">ミッション</small>
							<span class="en">Mission</span>
						</h3>
						<h4 class="txt-lead cl-01">
							私達は「aloha」の心で<br>
							あなたの日常の<br>
							「アクセント」になる為に存在する
						</h4>
						<div class="txt-basic txt-center">
							anue nueではalohaの心を「相手を想う心」「努力する心」「挑戦する心」の“3つの心”とし、スタッフみんながすべてに感謝の気持ちを持ち、関わる全ての人々に感動してもらうために努力し、挑戦することで共に成長し、共に幸福になる。ということを大切にしています。
						</div>
					</div>
					<div class="item">
						<h3 class="item__ttl">
							<small class="jp">ビジョン</small>
							<span class="en">Vision</span>
						</h3>
						<h4 class="txt-lead cl-06">
							「地域のハワイ」を創る<br>
							=「心躍る場所」になる
							<small>
								-スタッフにとっての<br class="pc">やりがいの宝箱になる-
							</small>
						</h4>
						<div class="txt-basic txt-center">
							お客様にとってハワイを訪れる時のようにワクワクして扉を開けていただける美容室になりたい。そして「また来たい。」と感じていただけるような技術、接客を提供することを大切にしています。スタッフにとっても毎日ワクワク心躍り、様々なことにチャレンジできる。やりがいのある会社にしていきたいと考えます。
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="inner">
			<div class="vision-bottom-block">
				<h3 class="ttl">
					<img src="<%= RELATIVE_PATH %>img/recruit/02/ttl-vision-bottom.svg" alt="anue nueが志す3つの心" class="pc">
					<img src="<%= RELATIVE_PATH %>img/recruit/02/ttl-vision-bottom-sp.svg" alt="anue nueが志す3つの心" class="sp">
				</h3>
				<div class="list-item">
					<div class="item">
						<h4 class="item__ttl"><img src="<%= RELATIVE_PATH %>img/recruit/02/ttl-number-01.svg" alt="01 努力をする心"></h4>
						<div class="item__wp">
							<div class="item__img">
								<img src="<%= RELATIVE_PATH %>img/recruit/02/vision-01.jpg" alt="01 努力をする心">
							</div>
							<div class="item__info">
								<p class="txt-lead bg-01">努力は未来に繋がります</p>
								<p class="txt-basic">
									「大切な人のために」と思える人こそが自分のために努力できる。<br class="pc">
									お客様や仲間を大切にできる。anuenueでは、みんなが誰かを大切に想っています。<br class="pc">
									何のためにレッスンをするのか、成長した先にどんな幸せが待っているのか。<br>
									anue nueでは、すべてがスタッフ・その周りの大切な人の幸せに繋がっていると考えています。<br class="pc">
									その大きな目的をみんなで共有しているからこそ、みんなが努力する心を持つことができているのです。
								</p>
							</div>
						</div>
					</div>
					<div class="item">
						<h4 class="item__ttl"><img src="<%= RELATIVE_PATH %>img/recruit/02/ttl-number-02.svg" alt="02 相手を想う心"></h4>
						<div class="item__wp">
							<div class="item__img">
								<img src="<%= RELATIVE_PATH %>img/recruit/02/vision-02.jpg" alt="02 相手を想う心">
							</div>
							<div class="item__info">
								<p class="txt-lead bg-02">感謝の気持ちを忘れずに</p>
								<p class="txt-basic">
									「お客様のために」「仲間のために」「家族のために」。<br>
									スタッフみんなが「誰かのために」という気持ちを大切にしています。<br class="sp">「みんなで幸せになろう」を合言葉に相手を想い、支え合うことで団結力が高まり、周りに感謝の気持ちが生まれます。<br>
									anue nueは技術だけではなく、人との繋がりの大切さ、人間力も大切に磨いていきます。<br>
									コミュニケーションの質も量も、どこにも負けないのがanue nueです。
								</p>
							</div>
						</div>
					</div>
					<div class="item">
						<h4 class="item__ttl"><img src="<%= RELATIVE_PATH %>img/recruit/02/ttl-number-03.svg" alt="03 挑戦をする心"></h4>
						<div class="item__wp">
							<div class="item__img">
								<img src="<%= RELATIVE_PATH %>img/recruit/02/vision-03.jpg" alt="03 挑戦をする心">
							</div>
							<div class="item__info">
								<p class="txt-lead bg-03">みんなが応援します</p>
								<p class="txt-basic">
									人を想い、努力していれば挑戦する心は自然と生まれます。<br>
									くじけそうになることがあっても仲間やお客様があなたを必ず応援してくれます。<br>
									anue nueは、一人ひとりの夢や目標達成に愛情を持って寄り添います。<br>
									それは、先輩から後輩に代々受け継がれてきたanue nueの文化。<br>
									できない時はとことん相談に乗り、アドバイスを送り、一緒に取り組みます。<br>
									「できなかったことが、できるようになった」その瞬間はみんなで喜びます。<br>
									そんな瞬間をたくさんつくっていきたいと考えています。
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec-salonlist">
		<h2 class="contents-ttl">
			<span class="inn">CONTENTS 9</span>
		</h2>
		<h3 class="contents-subTtl">
			<img src="<%= RELATIVE_PATH %>img/recruit/02/ttl-salonlist.svg" alt="Salonlist" width="652" class="pc">
			<img src="<%= RELATIVE_PATH %>img/recruit/02/ttl-salonlist-sp.svg" alt="Salonlist" width="280" class="sp">
			<span class="en"><img src="<%= RELATIVE_PATH %>img/recruit/02/ttl-salonlist-en.svg" alt="Salonlist" width="1300"></span>
		</h3>
		<div class="txt-intro">
			anue nueは、滋賀県下に6店舗の<br class="sp">美容室を経営しており<br>
			各店、異なったコンセプトで<br class="sp">営業しております。<br>
			「なりたい美容師像」や「自分の強みを<br class="sp">活かせる店舗」で働くことができます。
		</div>
		<div class="inner">
			<div class="salon-block">
				<div class="item">
					<div class="item__img">
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/recruit/02/salon-01.jpg" alt="maoli -マオリ-" class="pc">
							<img src="<%= RELATIVE_PATH %>img/recruit/02/salon-01-sp.jpg" alt="maoli -マオリ-" class="sp">
						</div>
						<div class="logo"><img src="<%= RELATIVE_PATH %>img/recruit/02/logo-01.png" alt="maoli -マオリ-" width="83"></div>
					</div>
					<div class="item__info">
						<div class="item__heading">
							<div class="logo"><img src="<%= RELATIVE_PATH %>img/recruit/02/logo-01.png" alt="maoli -マオリ-" width="83"></div>
							<div class="txt-heading cl-01">
								「本物」を意味するmaoliは、洗練されたしなやかでタフな大人女性へ、年齢に合ったケアやトレンドを提案できるサロン！
							</div>
						</div>
						<div class="item__content">
							<p class="salon-name">maoli -マオリ-</p>
							<dl>
								<dt>ADDRESS</dt>
								<dd>〒524-0022 滋賀県守山市守山<br c>4-7-20 辻田ビル101</dd>
							</dl>
							<dl>
								<dt>TEL</dt>
								<dd>077-582-8813</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item__img">
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/recruit/02/salon-02.jpg" alt="nohea -ノヘア-" class="pc">
							<img src="<%= RELATIVE_PATH %>img/recruit/02/salon-02-sp.jpg" alt="nohea -ノヘア-" class="sp">
						</div>
						<div class="logo"><img src="<%= RELATIVE_PATH %>img/recruit/02/logo-02.png" alt="nohea -ノヘア-" width="83"></div>
					</div>
					<div class="item__info">
						<div class="item__heading">
							<div class="logo"><img src="<%= RELATIVE_PATH %>img/recruit/02/logo-02.png" alt="nohea -ノヘア-" width="83"></div>
							<div class="txt-heading cl-02">
								noheaはハワイ語で「可愛らしい」を意味します。自然なおしゃれ感、心地よいナチュラルな可愛いを提案できるサロン！
							</div>
						</div>
						<div class="item__content">
							<p class="salon-name">nohea -ノヘア-</p>
							<dl>
								<dt>ADDRESS</dt>
								<dd>〒520-3031<br class="sp">滋賀県栗東市綣3-8-23 <br class="sp">グレーシィ栗東セレージュ1F</dd>
							</dl>
							<dl>
								<dt>TEL</dt>
								<dd>077-598-1338</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item__img">
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/recruit/02/salon-03.jpg" alt="hilealo -ヒレアロ-" class="pc">
							<img src="<%= RELATIVE_PATH %>img/recruit/02/salon-03-sp.jpg" alt="hilealo -ヒレアロ-" class="sp">
						</div>
						<div class="logo"><img src="<%= RELATIVE_PATH %>img/recruit/02/logo-03.png" alt="hilealo -ヒレアロ-" width="82"></div>
					</div>
					<div class="item__info">
						<div class="item__heading">
							<div class="logo"><img src="<%= RELATIVE_PATH %>img/recruit/02/logo-03.png" alt="hilealo -ヒレアロ-" width="98"></div>
							<div class="txt-heading cl-03">
								hilealoはハワイ語で「楽しみ・喜び・幸福」を「繋ぐ」ことを意味します。幅広い年齢層のお客様が来店されるアットホームなサロン！
							</div>
						</div>
						<div class="item__content">
							<p class="salon-name">hilealo -ヒレアロ-</p>
							<dl>
								<dt>ADDRESS</dt>
								<dd>〒520-3015 <br class="sp">滋賀県栗東市安養寺7-1-22</dd>
							</dl>
							<dl>
								<dt>TEL</dt>
								<dd>077-553-1183</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item__img">
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/recruit/02/salon-04.jpg" alt="lino -リノ-" class="pc">
							<img src="<%= RELATIVE_PATH %>img/recruit/02/salon-04-sp.jpg" alt="lino -リノ-" class="sp">
						</div>
						<div class="logo"><img src="<%= RELATIVE_PATH %>img/recruit/02/logo-04.png" alt="lino -リノ-" width="98"></div>
					</div>
					<div class="item__info">
						<div class="item__heading">
							<div class="logo"><img src="<%= RELATIVE_PATH %>img/recruit/02/logo-04.png" alt="lino -リノ-" width="98"></div>
							<div class="txt-heading cl-04">
								滋賀県初の“青文字系女性専門店”。<br>
								あなたの素材を理解して活かせる、トレンドに<br class="pc">
								敏感な女性専用サロン。
							</div>
						</div>
						<div class="item__content">
							<p class="salon-name">lino -リノ-</p>
							<dl>
								<dt>ADDRESS</dt>
								<dd>〒525-0025 <br class="sp">滋賀県草津市西渋川1-17-20 2F</dd>
							</dl>
							<dl>
								<dt>TEL</dt>
								<dd>077-566-3118</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item__img">
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/recruit/02/salon-05.jpg" alt="lino -リノ 守山-" class="pc">
							<img src="<%= RELATIVE_PATH %>img/recruit/02/salon-05-sp.jpg" alt="lino -リノ 守山-" class="sp">
						</div>
						<div class="logo"><img src="<%= RELATIVE_PATH %>img/recruit/02/logo-04.png" alt="lino -リノ 守山-" width="98"></div>
					</div>
					<div class="item__info">
						<p class="item__note">待望の2店舗目が2021年にOPEN!</p>
						<div class="item__heading">
							<div class="logo"><img src="<%= RELATIVE_PATH %>img/recruit/02/logo-04.png" alt="lino -リノ 守山-" width="98"></div>
							<div class="txt-heading cl-04">
								linoはハワイ語で「輝く」を意味します。トレンドの共感が新しいスタイルをつくる女性専用サロン。
							</div>
						</div>
						<div class="item__content">
							<p class="salon-name">lino -リノ 守山-</p>
							<dl>
								<dt>ADDRESS</dt>
								<dd>〒524-0042 <br class="sp">滋賀県守山市焔魔堂町121-1</dd>
							</dl>
							<dl>
								<dt>TEL</dt>
								<dd>077-599-3813</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item__img">
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/recruit/02/salon-06.jpg" alt="美髪クリニック 滋賀 守山" class="pc">
							<img src="<%= RELATIVE_PATH %>img/recruit/02/salon-06-sp.jpg" alt="美髪クリニック 滋賀 守山" class="sp">
						</div>
						<div class="logo"><img src="<%= RELATIVE_PATH %>img/recruit/02/logo-05.png" alt="美髪クリニック 滋賀 守山" width="88"></div>
					</div>
					<div class="item__info">
						<div class="item__heading">
							<div class="logo"><img src="<%= RELATIVE_PATH %>img/recruit/02/logo-05.png" alt="美髪クリニック 滋賀 守山" width="88"></div>
							<div class="txt-heading cl-05">
								髪の修復・頭皮改善に特化した<br>
								大人女性の髪質改善専門サロン。
							</div>
						</div>
						<div class="item__content">
							<p class="salon-name">美髪クリニック 滋賀 守山</p>
							<dl>
								<dt>ADDRESS</dt>
								<dd>〒524-0022 <br class="sp">滋賀県守山市守山4丁目6-18</dd>
							</dl>
							<dl>
								<dt>TEL</dt>
								<dd>077-582-4567</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec-requirement">
		<h2 class="contents-ttl">
			<span class="inn">CONTENTS 10</span>
		</h2>
		<h3 class="contents-subTtl">
			<img src="<%= RELATIVE_PATH %>img/recruit/02/ttl-requirement.svg" alt="Requirements" width="1300">
			<span class="jp">募集要項</span>
		</h3>
		<div class="inner">
			<ul class="list-tabs">
				<li class="tab-link current" data-tab="tab-1"><span>新卒採用</span></li>
				<li class="tab-link" data-tab="tab-2"><span>中途採用</span></li>
			</ul>
			<div class="tabs-content current" id="tab-1">
				<div class="wp-inner">
					<dl>
						<dt>募集職種</dt>
						<dd>アシスタント</dd>
					</dl>
					<dl>
						<dt>勤務地</dt>
						<dd>守山/栗東/草津</dd>
					</dl>
					<dl>
						<dt>勤務時間</dt>
						<dd>平日10:00〜19:30、<br class="sp">土日祝9:00〜19:00</dd>
					</dl>
					<dl>
						<dt>応募資格</dt>
						<dd>2022年新卒生 <br class="sp">※要美容師免許</dd>
					</dl>
					<dl>
						<dt>初任給</dt>
						<dd>200,000円</dd>
					</dl>
					<dl>
						<dt>昇給・賞与</dt>
						<dd>昇給随時、賞与年2回</dd>
					</dl>
					<dl>
						<dt>諸手当</dt>
						<dd>交通費支給(1万円迄)、 <br class="sp">住宅手当(2万円)、 技術手当、<br class="sp">講習費負担</dd>
					</dl>
					<dl>
						<dt>福利厚生</dt>
						<dd>社会保険完備、<br class="sp">社員旅行年2 回(国内・海外)、<br class="sp">社内アカデミー</dd>
					</dl>
					<dl>
						<dt>休暇・休日</dt>
						<dd>
							月曜日＋他月4日公休、<br class="sp">夏季冬季休暇、有給休暇
							<span>※旅行等での長期休暇も取得できます。</span>
						</dd>
					</dl>
				</div>
			</div>
			<div class="tabs-content" id="tab-2">
				<div class="wp-inner">
					<dl>
						<dt>募集職種</dt>
						<dd>スタイリスト、アシスタント、パート可</dd>
					</dl>
					<dl>
						<dt>勤務地</dt>
						<dd>守山/栗東/草津</dd>
					</dl>
					<dl>
						<dt>勤務時間</dt>
						<dd>平日10:00〜19:30、土日祝9:00〜19:00</dd>
					</dl>
					<dl>
						<dt>応募資格</dt>
						<dd>美容師免許取得者</dd>
					</dl>
					<dl>
						<dt>給料</dt>
						<dd>
							【スタイリスト】基本給243,000円+歩合+その他還元あり<br>
							※入社後3ヶ月間は基本給保証、<br>
							その後はキャリア、実績により相談<br>
							【アシスタント】基本給200,000円+その他還元あり<br>
							【パート】給与、勤務時間については相談の上、決定
						</dd>
					</dl>
					<dl>
						<dt>昇給・賞与</dt>
						<dd>昇給随時、賞与年2回</dd>
					</dl>
					<dl>
						<dt>諸手当</dt>
						<dd>技術手当、住宅手当（2万円※アシスタントに限る）、交通費支給</dd>
					</dl>
					<dl>
						<dt>福利厚生</dt>
						<dd>社会保険完備、社員旅行年2回(国内、海外)</dd>
					</dl>
					<dl>
						<dt>休暇・休日</dt>
						<dd>
							月曜日、他月4日公休、有給休暇、夏季冬季休暇<br>
							（※旅行等での長期休暇も取得可能）<br>
							・子育てや家事が落ち着き、美容師として復帰をしたい方<br>
							・カリキュラムがしっかりしたところで働きたいアシスタントの方<br>
							・自分の力を試したいスタイリストの方<br>
							・限られた時間でも美容師として働きたい方　など
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</section>
	<section class="sec-flow">
		<div class="inner">
			<h2 class="ttl-flow">
				<small>採用までの流れ</small>
				<span>FLOW</span>
			</h2>
			<div class="flow-block">
				<div class="item">
					<div class="item-wp">
						<div class="item__number"><span>01</span></div>
						<div class="txt-basic">
							サロン見学、もしくは施術体験(1メニュー無料)をご予約いただき、サロンの雰囲気を見に来て下さい。<br>
							※どれでもお好きなメニューを1メニュー無料でご利用いただけます。
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item-wp">
						<div class="item__number"><span>02</span></div>
						<div class="txt-basic">
							サロンを見ていただいた後、もっと知りたいことがある場合はサロン説明会を設定します。<br>
							志望していただける場合は、一次面接に進みます。
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item-wp">
						<div class="item__number"><span>03</span></div>
						<div class="txt-basic">
							一次面接が終わったら、次は二次面接。<br>
							社長がみなさんとお話しします。（緊張しないでくださいね。）
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec-instagram">
		<div class="inner">
			<div class="instagram-heading">
				<small>リクルート専用インスタグラムアカウント</small>
				<h2 class="ttl">
					<span class="en">INSTAGRAM</span>
					<span class="jp">最新情報・イベント情報なども配信中！！</span>
				</h2>
			</div>
			<div class="img-block">
				<img src="<%= RELATIVE_PATH %>img/recruit/02/img-instagram.jpg" alt="RECRUIT">
			</div>
			<a href="https://www.instagram.com/anuenue_recruit/" target="_blank" class="btn-sns">
				<span>
					<img src="<%= RELATIVE_PATH %>img/recruit/02/ico-sns.svg" alt="SNS" width="24">anuenue_recruit
					<img src="<%= RELATIVE_PATH %>img/recruit/02/ico-arrow.svg" alt="" width="20">
				</span>
			</a>
			<div class="entry-block">
				<span class="sns-line-top">
					<img src="<%= RELATIVE_PATH %>img/recruit/02/sns-line-top.png" alt="" class="pc">
					<img src="<%= RELATIVE_PATH %>img/recruit/02/sns-line-top-sp.svg" alt="" class="sp">
				</span>
				<h3 class="ttl-entry">サロン見学・応募・お問い合わせ</h3>
				<div class="box-phone">
					<a href="tel:0775824567">
						<img src="<%= RELATIVE_PATH %>img/recruit/02/ico-phone.svg" alt="" width="66" class="pc">
						<img src="<%= RELATIVE_PATH %>img/recruit/02/ico-phone.svg" alt="" width="28" class="sp">
						077-582-4567
					</a>
				</div>
				<div class="txt-entry"><span>採用担当：村井（むらい）</span>まで、<br class="sp">お気軽にお問い合わせください。</div>
				<span class="sns-line-bottom"><img src="<%= RELATIVE_PATH %>img/recruit/02/sns-line-bottom.png" alt=""></span>
			</div>
		</div>
	</section>
</main>