<main class="page-<%= pageData.template %>">
	<section class="sec-mv01">
		<div class="inner">
			<div class="mv-img">
				<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/recruit/mv-img.jpg" alt="RECRUIT"></span>
				<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/recruit/mv-img-sp.jpg" alt="RECRUIT"></span>
			</div>
			<div class="mv-content">
				<h1 class="mv-ttl">
					<span>RECRUIT</span>
				</h1>
				<p class="mv-txt pc-sm">
					ワクワクと心躍る場所で<br>自分のペースで着実に成長していける
				</p>
			</div>
			<p class="mv-txt sp-sm">
				ワクワクと心躍る場所で<br>自分のペースで着実に<br>成長していける
			</p>
		</div>
	</section>
	
	<section class="sec-anchor">
		<div class="inner">
			<ul class="anchor-list">
				<li class="item">
					<a href="" class="btn-comp04">ココがスゴイ</a>
				</li>
				<li class="item">
					<a href="" class="btn-comp04">福利厚生</a>
				</li>
				<li class="item">
					<a href="" class="btn-comp04">カリキュラム</a>
				</li>
				<li class="item">
					<a href="" class="btn-comp04">アカデミー</a>
				</li>
				<li class="item">
					<a href="" class="btn-comp04">キャリアプラン</a>
				</li>
				<li class="item">
					<a href="" class="btn-comp04">アヌエヌエの環境</a>
				</li>
				<li class="item">
					<a href="" class="btn-comp04">クリエイティブ</a>
				</li>
				<li class="item">
					<a href="" class="btn-comp04">会社の想い</a>
				</li>
				<li class="item">
					<a href="" class="btn-comp04">サロンリスト</a>
				</li>
				<li class="item">
					<a href="" class="btn-comp04">応募はこちら</a>
				</li>
			</ul>
		</div>
	</section>
	
	<section class="sec-contents">
		<div class="inner">
			<div class="contents-box box01">
				<h2 class="contents-ttl">
					<span class="inn">CONTENTS 01</span>
				</h2>
				
				<div class="retention-box">
					<h3 class="retention-ttl">
						<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/recruit/retention-ttl-01.svg" width="878" alt="離職率が高い美容業界の中で過去5年のスタッフの定着率は..."></span>
						<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/recruit/retention-ttl-01-sp.svg" width="878" alt="離職率が高い美容業界の中で過去5年のスタッフの定着率は..."></span>
					</h3>
					<div class="retention-f">
						<p class="retention-f__txt pc-sm">
							<img src="<%= RELATIVE_PATH %>img/recruit/retention-txt-01.png" width="387" alt="離職率が高い美容業界の中で過去5年のスタッフの定着率は...">
						</p>
						<div class="retention-f__img">
							<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/recruit/retention-img-01.jpg" width="590" alt="離職率が高い美容業界の中で過去5年のスタッフの定着率は..."></span>
							<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/recruit/retention-img-01-sp.jpg" alt="離職率が高い美容業界の中で過去5年のスタッフの定着率は..."></span>
						</div>
						<p class="retention-f__txt sp-sm txt-center">
							<img src="<%= RELATIVE_PATH %>img/recruit/retention-txt-01-sp.png" width="125" alt="その理由は...">
						</p>
					</div>
					
					<ul class="retention-list">
						<li class="retention-list__item">
							<div class="retention-list__img">
								<img src="<%= RELATIVE_PATH %>img/recruit/retention-person-01.png" alt="あなたの夢を応援します!">
							</div>
							<div class="retention-list__cnt">
								<p class="retention-list__ttl">
									<span>
										あなたの夢を応援します!
									</span>
								</p>
								<p class="retention-list__txt">
									仲間の夢を応援してくれるのが、anuenue。スタッフ<br class="pc-sm">ひとり一人の夢・キャリアを実現できる環境があります。
								</p>
							</div>
						</li>
						<li class="retention-list__item">
							<div class="retention-list__img">
								<img src="<%= RELATIVE_PATH %>img/recruit/retention-person-02.png" alt="“1人”ではなく、“みんな”だから頑張れる!">
							</div>
							<div class="retention-list__cnt">
								<p class="retention-list__ttl">
									<span>
										“1人”ではなく、<br>“みんな”だから頑張れる!
									</span>
								</p>
								<p class="retention-list__txt">
									会社内はポジティブな言葉で溢れています。<br>みんなで喜びも日々の頑張りも共有します!
								</p>
							</div>
						</li>
						<li class="retention-list__item">
							<div class="retention-list__img">
								<img src="<%= RELATIVE_PATH %>img/recruit/retention-person-03.png" alt="“自分の成長を実感できる!">
							</div>
							<div class="retention-list__cnt">
								<p class="retention-list__ttl">
									<span>
										自分の成長を実感できる!
									</span>
								</p>
								<p class="retention-list__txt">
									会社内はポジティブな言葉で溢れています。<br>みんなで喜びも日々の頑張りも共有します!
								</p>
							</div>
						</li>
						<li class="retention-list__item">
							<div class="retention-list__img">
								<img src="<%= RELATIVE_PATH %>img/recruit/retention-person-04.png" alt="“プライベートも充実する毎日に!">
							</div>
							<div class="retention-list__cnt">
								<p class="retention-list__ttl">
									<span>
										プライベートも充実する毎日に!
									</span>
								</p>
								<p class="retention-list__txt">
									給与や福利厚生の充実があるからプライベートも<br class="pc-sm">楽しめる!社員旅行などの行事も楽しい!
								</p>
							</div>
						</li>
						<li class="retention-list__item">
							<div class="retention-list__img">
								<img src="<%= RELATIVE_PATH %>img/recruit/retention-person-05.png" alt="“コンセプト毎の店鋪展開!">
							</div>
							<div class="retention-list__cnt">
								<p class="retention-list__ttl">
									<span>
										コンセプト毎の店鋪展開!
									</span>
								</p>
								<p class="retention-list__txt">
									現在5店舗をコンセプト毎に展開しています。自分の<br class="pc-sm">強みや、なりたい美容師像に合った店舗で理想の美<br class="pc-sm">容師を目指せます。
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="contents-box box02">
				<h2 class="contents-ttl">
					<span class="inn">CONTENTS 02</span>
				</h2>
				
				<div class="beneeit-box">
					<h3 class="contents-subTtl beneeit-ttl">
						<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/recruit/beneeit-ttl.svg" width="912" alt="滋賀県トップクラスの福利厚生"></span>
						<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/recruit/beneeit-ttl-sp.svg" width="249" alt="滋賀県トップクラスの福利厚生"></span>
						
						<span class="en">
							<img src="<%= RELATIVE_PATH %>img/recruit/beneeit-ttl-en.svg" width="836" alt="benefit">
						</span>
					</h3>
					
					<ul class="beneeit-list">
						<li class="beneeit-list__item">
							<div class="beneeit-list__img">
								<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-01.png" alt="good point 01"></span>
								<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-01-sp.png" alt="good point 01"></span>
							</div>
							<div class="beneeit-list__cnt">
								<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-01-b.svg" width="536" alt="関西トップクラスの高初任給"></span>
								<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-01-b-sp.svg" alt="関西トップクラスの高初任給"></span>
							</div>
						</li>
						<li class="beneeit-list__item">
							<div class="beneeit-list__img">
								<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-02.png" alt="good point 02"></span>
								<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-02-sp.png" alt="good point 02"></span>
							</div>
							<div class="beneeit-list__cnt">
								<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-02-b.svg" width="536" alt="営業時間内レッスンがある！"></span>
								<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-02-b-sp.svg" width="536" alt="営業時間内レッスンがある！"></span>
							</div>
						</li>
						<li class="beneeit-list__item">
							<div class="beneeit-list__img">
								<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-03.png" alt="good point 03"></span>
								<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-03-sp.png" alt="good point 03"></span>
							</div>
							<div class="beneeit-list__cnt">
								<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-03-b.svg" width="536" alt="年間休日数105日"></span>
								<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-03-b-sp.svg" width="536" alt="年間休日数105日"></span>
							</div>
						</li>
						<li class="beneeit-list__item">
							<div class="beneeit-list__img">
								<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-04.png" alt="good point 04"></span>
								<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-04-sp.png" alt="good point 04"></span>
							</div>
							<div class="beneeit-list__cnt">
								<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-04-b.svg" width="536" alt="もちろん社会保険完備！"></span>
								<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-04-b-sp.svg" width="536" alt="もちろん社会保険完備！"></span>
							</div>
						</li>
					</ul>
					
					<div class="beneeit-inn">
						<div class="beneeit-person">
							<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-09.png" width="474" alt="まだまだたくさん！"></span>
							<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-09-sp.png" alt="まだまだたくさん！"></span>
						</div>
						<ul class="beneeit-inn__list">
							<li class="item">
								<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-05.svg" alt="good point 05"></span>
								<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-05-sp.svg" alt="good point 05"></span>
							</li>
							<li class="item">
								<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-06.svg" alt="good point 06"></span>
								<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-06-sp.svg" alt="good point 06"></span>
							</li>
							<li class="item">
								<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-07.svg" alt="good point 07"></span>
								<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-07-sp.svg" alt="good point 07"></span>
							</li>
							<li class="item">
								<span class="pc-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-08.svg" alt="good point 08"></span>
								<span class="sp-sm"><img src="<%= RELATIVE_PATH %>img/recruit/good-img-08-sp.svg" alt="good point 08"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="contents-box box03">
				<h2 class="contents-ttl">
					<span class="inn">CONTENTS 03</span>
				</h2>
				
				<div class="curriculum-box">
					<h3 class="contents-subTtl curriculum-ttl">
						<img src="<%= RELATIVE_PATH %>img/recruit/curriculum-ttl.svg" width="616" alt="デザイン×人間力が魅力の美容師へ">
						
						<span class="en">
							<img src="<%= RELATIVE_PATH %>img/recruit/curriculum-ttl-en.svg" width="1334" alt="CURRICULUM">
						</span>
					</h3>
					<p class="contents-des">
						美容師として技術や接客・カウンセリングはもちろん、お客様や社会に必要とされる知識や教養などの<br>勉強会にも力を入れており、社会人としても成長できる環境があります。
					</p>
					
					<p class="contents-ttl02">
						<span class="jp">選べるカリキュラム</span>
						<span class="en">CURRICULUM of FLOW</span>
					</p>
					
					<p class="contents-des mbpc-54">
						anue nueでは、マンツーマンレッスンを基本に、カリキュラムを構築しています。<br>
						1年半〜3年の期間の中でデビューしたい時期を自分で選択できることが魅力のanue nueのカリキュラム。<br>
						早くスタイリストになりたい人も、自分のペースで技術を習得したい人も、無理なくレッスンに打ち込むことが可能。<br>
						一人ひとりに合ったスケジュールでレッスンを進めることができます。
					</p>
					<div class="curriculum-img">
						<img src="<%= RELATIVE_PATH %>img/recruit/curriculum-img.jpg" alt="選べるカリキュラム CURRICULUM of FLOW">
					</div>
				</div>
			</div>
			
			<div class="contents-box box04">
				<h2 class="contents-ttl">
					<span class="inn">CONTENTS 04</span>
				</h2>
				
				<div class="academy-box">
					<h3 class="contents-subTtl academy-ttl">
						<img src="<%= RELATIVE_PATH %>img/recruit/academy-ttl.svg" width="848" alt="デザイン×人間力が魅力の美容師へ">
						
						<span class="en">
							<img src="<%= RELATIVE_PATH %>img/recruit/academy-ttl-en.svg" width="1030" alt="CURRICULUM">
						</span>
					</h3>
					<p class="contents-des">
						社内アカデミーで美容師力×人間力を養います。<br>
						お客様の心の声を引き出し、寄り添い、想いを形にできるデザイナーになることを目指します。
					</p>
					
					<p class="contents-ttl02 mbpc-70">
						<span class="jp">スタッフの相互成長を支える</span>
						<span class="en">COMMUNICATION</span>
					</p>
					
					<div class="academy-f">
						<div class="l">
							<p class="contents-des">
								人の成長を支えるのは“コミュニケーション”だとanuenueは考えており、コミュニケーションを基本にした教育システムを整えています。
							</p>
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/recruit/academy-img-01.jpg" alt="スタッフの相互成長を支える COMMUNICATION">
							</div>
						</div>
						<div class="r">
							<img src="<%= RELATIVE_PATH %>img/recruit/academy-img-02.jpg" alt="スタッフの相互成長を支える COMMUNICATION">
						</div>
					</div>
					
					
					<p class="contents-ttl02 mbpc-60">
						<span class="jp">各ランクに合わせて最適な学びを</span>
						<span class="en">ACADEMY</span>
					</p>
					
					<ul class="academy-list">
						<li class="academy-list__item">
							<p class="academy-list__ttl">
								<span>営業時間内レッスン</span>
							</p>
							<div class="academy-list__img">
								<img src="<%= RELATIVE_PATH %>img/recruit/academy-img-03.jpg" alt="営業時間内レッスン">
							</div>
							<p class="contents-des">
								平日の営業時間内に自社アカデミーにてしっかり学ぶ環境があり、着実なステップアップと確かな技術が身につきます。
							</p>
						</li>
						<li class="academy-list__item">
							<p class="academy-list__ttl">
								<span>キャリアのある各分野の<br>スペシャリストが講師！</span>
							</p>
							<div class="academy-list__img">
								<img src="<%= RELATIVE_PATH %>img/recruit/academy-img-04.jpg" alt="キャリアのある各分野のスペシャリストが講師！">
							</div>
							<p class="contents-des">
								キャリア20年以上・コンテスト受賞経験者・外部講師経験者など、数々の分野で活躍するベテランスタイリスト達が指導してくれるので、着実に高い技術力が身につきます。
							</p>
						</li>
						<li class="academy-list__item">
							<p class="academy-list__ttl">
								<span>トレンドの技術・知識を<br>学べる勉強会がある！</span>
							</p>
							<div class="academy-list__img">
								<img src="<%= RELATIVE_PATH %>img/recruit/academy-img-05.jpg" alt="トレンドの技術・知識を学べる勉強会がある！">
							</div>
							<p class="contents-des">
								基礎・応用技術だけではなく、全国から有名講師を招いてトレンド講習を行うことも。得意な技術や知識をスタッフ同士で教えあう「塾」も随時開かれています!
							</p>
						</li>
					</ul>
					
					<p class="academy-moreover txt-center">
						<img src="<%= RELATIVE_PATH %>img/recruit/academy-subttl.svg" width="1000" alt="さらに">
					</p>
					
					<ul class="academy-list02">
						<li class="academy-list02__item">
							<p class="academy-list02__ttl">
								<span>maoli<br>-マオリ-</span>
							</p>
							<div class="academy-list02__img">
								<img src="<%= RELATIVE_PATH %>img/recruit/academy-img-06.jpg" alt="maoli -マオリ-">
							</div>
							<div class="academy-list02__logo">
								<img src="<%= RELATIVE_PATH %>img/recruit/academy-logo-01.png" alt="maoli -マオリ-">
							</div>
							<p class="contents-des">
								洗練された、しなやかでタフな大人女性へ導く年齢に合ったトレンドを提案できるサロン！
							</p>
						</li>
						<li class="academy-list02__item">
							<p class="academy-list02__ttl">
								<span>nohea<br>-ノヘア-</span>
							</p>
							<div class="academy-list02__img">
								<img src="<%= RELATIVE_PATH %>img/recruit/academy-img-07.jpg" alt="nohea -ノヘア-">
							</div>
							<div class="academy-list02__logo">
								<img src="<%= RELATIVE_PATH %>img/recruit/academy-logo-02.png" alt="nohea -ノヘア-">
							</div>
							<p class="contents-des">
								自然なおしゃれ感、<br>心地よいナチュラルな<br>可愛いを提案できるサロン！
							</p>
						</li>
						<li class="academy-list02__item">
							<p class="academy-list02__ttl">
								<span>hilealo<br>-ヒレアロ-</span>
							</p>
							<div class="academy-list02__img">
								<img src="<%= RELATIVE_PATH %>img/recruit/academy-img-08.jpg" alt="hilealo -ヒレアロ-">
							</div>
							<div class="academy-list02__logo">
								<img src="<%= RELATIVE_PATH %>img/recruit/academy-logo-03.png" alt="hilealo -ヒレアロ-">
							</div>
							<p class="contents-des">
								幅広い年齢層の<br>お客様が来店される<br>アットホームサロン！
							</p>
						</li>
						<li class="academy-list02__item">
							<p class="academy-list02__ttl">
								<span>lino<br>-リノ-</span>
							</p>
							<div class="academy-list02__img">
								<img src="<%= RELATIVE_PATH %>img/recruit/academy-img-09.jpg" alt="lino -リノ-">
							</div>
							<div class="academy-list02__logo">
								<img src="<%= RELATIVE_PATH %>img/recruit/academy-logo-04.png" alt="lino -リノ-">
							</div>
							<p class="contents-des">
								最先端トレンドの<br>「可愛い」をお客様と<br>共感しながら<br>楽しめるサロン！
							</p>
						</li>
						<li class="academy-list02__item">
							<p class="academy-list02__ttl">
								<span>美髪クリニック 滋賀 守山</span>
							</p>
							<div class="academy-list02__img">
								<img src="<%= RELATIVE_PATH %>img/recruit/academy-img-10.jpg" alt="美髪クリニック 滋賀 守山">
							</div>
							<div class="academy-list02__logo">
								<img src="<%= RELATIVE_PATH %>img/recruit/academy-logo-05.png" alt="美髪クリニック 滋賀 守山">
							</div>
							<p class="contents-des">
								髪質改善に特化した<br>“美しい髪へ導く”<br>ケア専門サロン！
							</p>
						</li>
					</ul>
					
					<div class="academy-txt">
						<p class="txt">
							<img src="<%= RELATIVE_PATH %>img/recruit/academy-txt.svg" width="1000" alt="1年間で約400名を入客できるデザインと人間性を持つ、お客様から必要とされる美容師に成長していただけます！">
						</p>
						<div class="person">
							<img src="<%= RELATIVE_PATH %>img/recruit/academy-person.png" width="1000" alt="1年間で約400名を入客できるデザインと人間性を持つ、お客様から必要とされる美容師に成長していただけます！">
						</div>
					</div>
				</div>
			</div>
			
			<div class="contents-box box05">
				<h2 class="contents-ttl">
					<span class="inn">CONTENTS 05</span>
				</h2>
				
				<div class="career-box">
					<h3 class="contents-subTtl career-ttl">
						<img src="<%= RELATIVE_PATH %>img/recruit/career-ttl.svg" width="710" alt="デザイン×人間力が魅力の美容師へ">
						
						<span class="en">
							<img src="<%= RELATIVE_PATH %>img/recruit/career-ttl-en.svg" width="1322" alt="CURRICULUM">
						</span>
					</h3>
					
					<p class="contents-des mbpc-66">
						まずはお客様から支持され続け、るデザイナーになること。<br>
						さらに活躍の場を広げる事のできるたくさんのキャリアプランで<br>ライフステージの変化に伴う多様な働き方を整えています。
					</p>
					
					
					<p class="contents-subTtl02 career-ttl02">
						<span class="cnt">
							それぞれが目指す道を選べるキャリアプラン
						</span>
					</p>
					
					<ul class="career-list">
						<li class="career-list__item">
							<div class="career-list__img">
								<img src="<%= RELATIVE_PATH %>img/recruit/career-img-01.jpg" alt="PLAN 01 店舗運営責任者">
							</div>
							<div class="career-list__cnt">
								<p class="career-list__ttl">
									<span class="plan">PLAN 01</span>
									<span class="txt">店舗運営責任者</span>
								</p>
								<div class="career-list__inn">
									<p class="career-list__lg">
										店舗の運営を任される！
									</p>
									<p class="contents-des">
										店舗の売上管理や社員教育などのマネジメントを<br>行う業務に携わっていただきます。
									</p>
								</div>
							</div>
						</li>
						<li class="career-list__item">
							<div class="career-list__img">
								<img src="<%= RELATIVE_PATH %>img/recruit/career-img-02.jpg" alt="PLAN 02 会社の運営責任者">
							</div>
							<div class="career-list__cnt">
								<p class="career-list__ttl">
									<span class="plan">PLAN 02</span>
									<span class="txt">会社の運営責任者</span>
								</p>
								<div class="career-list__inn">
									<p class="career-list__lg">
										本部の運営を任される！
									</p>
									<p class="contents-des">
										会社全体のマネジメントを行う業務に携わっていただきます。現在は、営業部・人事部・教育部・広報部・プレス部・総務部があり、20代のメンバーも活躍しています。
									</p>
								</div>
							</div>
						</li>
						<li class="career-list__item">
							<div class="career-list__img">
								<img src="<%= RELATIVE_PATH %>img/recruit/career-img-03.jpg" alt="PLAN 03 スペシャリスト">
							</div>
							<div class="career-list__cnt">
								<p class="career-list__ttl">
									<span class="plan">PLAN 03</span>
									<span class="txt">スペシャリスト</span>
								</p>
								<div class="career-list__inn">
									<p class="career-list__lg">
										事業の責任者になれる！
									</p>
									<p class="contents-des">
										カラー・スパなど、自分の得意な事の<br>事業の責任者として働くことができます。
									</p>
								</div>
							</div>
						</li>
						<li class="career-list__item">
							<div class="career-list__img">
								<img src="<%= RELATIVE_PATH %>img/recruit/career-img-04.jpg" alt="PLAN 04 社内独立コース">
							</div>
							<div class="career-list__cnt">
								<p class="career-list__ttl">
									<span class="plan">PLAN 04</span>
									<span class="txt">社内独立コース</span>
								</p>
								<div class="career-list__inn">
									<p class="career-list__lg">
										社内で独立ができる！
									</p>
									<p class="contents-des">
										自分のお客様を最初から最後まで担当していただきます。(出勤日・出勤時間自由、高歩合制)
									</p>
								</div>
							</div>
						</li>
					</ul>
					
					<p class="contents-subTtl02 career-ttl02">
						<span class="cnt">
							ライフスタイルに合わせた働き方が選べる！
						</span>
					</p>
					
					<div class="career-lifestyle">
						<div class="career-lifestyle__f">
							<div class="career-lifestyle__img">
								<img src="<%= RELATIVE_PATH %>img/recruit/career-img-05.jpg" alt="ライフスタイルに合わせた働き方が選べる！">
							</div>
							<div class="career-lifestyle__r">
								<ul class="career-lifestyle__list">
									<li class="item">
										<span class="ico">
											<img src="<%= RELATIVE_PATH %>img/recruit/heart.svg" width="30" alt="heart">
										</span>
										<span class="ttl">産休・育休制度あり！</span>
									</li>
								</ul>
								<p class="contents-des">
									anue nueは、働くママを応援しています。<br>
									結婚や出産などのライフスタイルの変化に合わせて、出勤日や時間を柔軟に変更していただけます。
								</p>
							</div>
						</div>
						<ul class="career-lifestyle__list mbpc-34">
							<li class="item">
								<span class="ico">
									<img src="<%= RELATIVE_PATH %>img/recruit/heart.svg" width="30" alt="heart">
								</span>
								<span class="ttl">勤務時間・勤務日数は選択制！</span>
							</li>
							<li class="item">
								<span class="ico">
									<img src="<%= RELATIVE_PATH %>img/recruit/heart.svg" width="30" alt="heart">
								</span>
								<span class="ttl">家族の行事は休日取得可能！</span>
								<span class="txt">(卒業式、入学式、運動会、家族旅行など)</span>
							</li>
						</ul>
						<div class="career-lifestyle__shape">
							<img src="<%= RELATIVE_PATH %>img/recruit/career-shape.svg" alt="たとえば...">
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="contents-box box06">
				<h2 class="contents-ttl">
					<span class="inn">CONTENTS 06</span>
				</h2>
				
				<div class="inquiry-box inquiry-box--01">
					<h3 class="contents-subTtl inquiry-ttl">
						<img src="<%= RELATIVE_PATH %>img/recruit/inquiry-ttl.svg" width="670" alt="anuenueの環境とは？">
						
						<span class="en">
							<img src="<%= RELATIVE_PATH %>img/recruit/inquiry-ttl-en.svg" width="904" alt="INQUIRY">
						</span>
					</h3>
					
					<p class="contents-des mbpc-4">
						anue nueを取り巻く環境ってどんな感じなのか、気になっていませんか？<br>
						スタッフたちにアンケートや質問を投げかけてみました！
					</p>
					
					<p class="contents-subTtl02 inquiry-ttl02">
						<span class="cnt">
							スタッフにアンケートを取ってみました！
						</span>
					</p>
					<div class="inquiry-cnt">
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/recruit/inquiry-img-01.png" width="1021" alt="スタッフにアンケートを取ってみました！">
						</div>
						<div class="container">
							<p class="ttl">
								<span>
									スタッフの卒業校は?
								</span>
							</p>
							<p class="contents-des">
								大阪ベルェベル美容専門学校(普通科・プロ科)/大阪ビューティーアート専門学校/関西美容専門学校/ル・トーア東亜美容専門学校/グラムール美容専門学校/大阪美容専門学校/京都理容美容専修学校/京都美容専門学校/アミューズ美容専門学校/YIC京都ビューティ専門学校/綾羽高等学校 など
							</p>
							<div class="person01">
								<img src="<%= RELATIVE_PATH %>img/recruit/inquiry-person-01.png" width="158" alt="スタッフの卒業校は?">
							</div>
							<div class="person02">
								<img src="<%= RELATIVE_PATH %>img/recruit/inquiry-person-02.png" width="174" alt="スタッフの卒業校は?">
							</div>
						</div>
					</div>
				</div>
				
				<div class="inquiry-box inquiry-box--02">
					<p class="contents-subTtl02 inquiry-ttl02">
						<span class="cnt">
							滋賀ってどんなところ？
						</span>
					</p>
					
				</div>
			</div>
			
			<div class="anue-box">
				<h2 class="anue-ttl">
					<span class="jp">
						仲が良いからtこそ叶う、最高の思い出を作ろう！
					</span>
					<span class="en">
						<img src="<%= RELATIVE_PATH %>img/recruit/anue-ttl-en.svg" width="1011" alt="ANUE NUE’S Event">
					</span>
				</h2>
				<ul class="anue-list">
					<li class="item">
						<img src="<%= RELATIVE_PATH %>img/recruit/anue-img-01.jpg" alt="ANUE NUE’S Event">
					</li>
					<li class="item">
						<img src="<%= RELATIVE_PATH %>img/recruit/anue-img-02.jpg" alt="ANUE NUE’S Event">
					</li>
					<li class="item">
						<img src="<%= RELATIVE_PATH %>img/recruit/anue-img-03.jpg" alt="ANUE NUE’S Event">
					</li>
					<li class="item">
						<img src="<%= RELATIVE_PATH %>img/recruit/anue-img-04.jpg" alt="ANUE NUE’S Event">
					</li>
					<li class="item">
						<img src="<%= RELATIVE_PATH %>img/recruit/anue-img-05.jpg" alt="ANUE NUE’S Event">
					</li>
					<li class="item">
						<img src="<%= RELATIVE_PATH %>img/recruit/anue-img-06.jpg" alt="ANUE NUE’S Event">
					</li>
					<li class="item">
						<img src="<%= RELATIVE_PATH %>img/recruit/anue-img-07.jpg" alt="ANUE NUE’S Event">
					</li>
					<li class="item">
						<img src="<%= RELATIVE_PATH %>img/recruit/anue-img-08.jpg" alt="ANUE NUE’S Event">
					</li>
					<li class="item">
						<img src="<%= RELATIVE_PATH %>img/recruit/anue-img-09.jpg" alt="ANUE NUE’S Event">
					</li>
					<li class="item">
						<img src="<%= RELATIVE_PATH %>img/recruit/anue-img-10.jpg" alt="ANUE NUE’S Event">
					</li>
				</ul>
				<a href="" target="_blank" class="btn-comp05">
					<span>
						<img src="<%= RELATIVE_PATH %>img/recruit/ico-ins.svg" alt="SNS" class="ico" width="20">
						<span class="txt">VEAW MORE</span>
						<img src="<%= RELATIVE_PATH %>img/recruit/btn-arr.svg" alt="" class="arr" width="13">
					</span>
				</a>
			</div>
			
		</div>
	</section>
</main>